[2020-09-16 10:03] jneira commented on #249
I've just test this and goto def to external packages does not work but hover on external values/types does

[2020-09-16 10:07] jneira commented on #258
closing as the feature is supported

[2020-09-16 10:07] #258 closed

[2020-09-16 10:09] jneira commented on #273
The kind is already displayed in type info so closing

[2020-09-16 10:09] #273 closed

[2020-09-16 10:11] jneira commented on #302
This seems to belongs to the vscode extension so maybe should be transferred to vscode-haskell

[2020-09-16 10:52] istathar opened #813 "configure the rate at which the client sends document updates: instant, save or never"
Might it be possible to put a delay (configurable, perhaps) of some short time (say, a couple seconds) before firing off the recompile? I'm used to **ghcid** reacting when I _save_ a file, but having the child GHC process maxing out the CPUs when I'm still in the middle of typing seems a bit overzealous?

AfC

[2020-09-16 10:57] jneira commented on #321
@pkapustin do you continue experiencing the isuue with lastest ghcide?

[2020-09-16 12:19] DunetsNM commented on #769
Figured it out. The issue is that ghcide looks up docs directory via `haddockHTMLs`  of `PackageConfig`.  Other similar fields of `PackageConfig` that contain relative paths (haddockInterfaces, libraryDirs, libraryDynDirs ...) have `$topdir` substituted properly on Windows but haddockHTMLs left intact and it seems like deliberate decision because unlike other fields it can be either URL or a path.

[2020-09-16 12:30] jneira commented on #605
@tuomohopia I cant reproduce the error in my windows 10 with lastest ghcide, so i am gonna to close this, feel free to reopen if you continue experiencing the issue

[2020-09-16 12:30] #605 closed

[2020-09-16 12:50] jneira commented on #663
I guess some of the checks are already done

[2020-09-16 12:57] jneira commented on #328
@wraithm do you continue experiencing the issue with lastest ghcide?

[2020-09-16 12:58] jneira commented on #340
hls already supports several formatters as plugins and ghcide will not include them so closing

[2020-09-16 12:58] #340 closed

[2020-09-16 13:01] jneira commented on #380
@ndmitchell  Not sure if those improvements should be implemented in the ghcide executable or in hls

[2020-09-16 13:18] ndmitchell commented on #380
Happy either way. I suspect they mostly target the core of ghcide, rather than any of the plugins. But they are also the user friendly bit around the edge and I guess we want to collect the "bad setup" bugs in HLS and then open subordinate tasks at Ghcide/hie-bios? If so, HLS definitely makes more sense.

[2020-09-16 16:22] serras commented on #165
I could not wait until the weekend! #815 is in

[2020-09-16 16:40] wraithm commented on #328
I am not! Everything seems to load fine afaict.

[2020-09-16 16:40] #328 closed

[2020-09-16 18:57] alanz commented on #813
I recall in hie we had a kind of hysteresis process in place. If we got changes, from typing, we wait a while (200ms?) for more changes before processing them. Sort of nagles algorithm.  So basically while typing is happening we suspend processing, until you stop typing for longer than x ms.

[2020-09-16 19:20] ndmitchell commented on #813
I find the immediate feedback wonderful, way better than some other language servers I use. It costs more CPU, but in most cases that is free. So I think the default should remain minimum latency, regardless of other options.

[2020-09-16 19:28] alanz commented on #813
Perhaps we should put a hysteresis module inline, with a default of 0ms, but which can be configured via a setting?  Then everyone gets what they want.  It might even make sense to put the machinery into the haskell-lsp library.

And it would be interesting to poll people after a while to see what works best for them.

[2020-09-16 20:03] ndmitchell commented on #813
I'd be inclined to do it in Ghcide rather than lsp. For example, we might decide to cancel execution when we see the key stroke, but not start it again until after the buffer period has passed.

[2020-09-17 06:48] cocreature commented on #242
@jneira yeah I think so.

[2020-09-17 08:14] pepeiborra commented on #242
Detecting regressions in allocations would be sweet. Steps to do this:

1. Enhance the benchmark outputs to include the total allocated bytes
2. Add a step to the bench CI script to check that the allocated bytes did not go up by more than a certain threshold

[2020-09-17 09:58] jneira opened #817 "Test suite has ghcide in build-tool-depends but uses it from global $PATH"
* The test suite has ghcide in the `build-depends` field in the `ghcide.cabal` file, triggering the build of the executable locally but without installing it globally (afaiu watching the build log)
* Then the test suite uses ghcide from global path so you have to manually install it before running the suite:

https://github.com/haskell/ghcide/blob/153536bda11fbf1ebee8434aa981911db73d09b8/test/caba

[2020-09-17 10:25] fendor commented on #817
We should probably use `build-tool-depends` https://cabal.readthedocs.io/en/3.4/cabal-package.html?highlight=build-depends#pkg-field-build-tool-depends. This puts the executable on the PATH, afaict.

[2020-09-17 10:42] #613 closed

[2020-09-17 10:42] wz1000 opened #818 "Add regression tests for #800"
/cc @lazamar

[2020-09-17 12:18] uncle-betty opened #819 "Auto-generated Paths_xxx is a "member of the hidden package xxx" with stack cradle"
I've recently graduated from navigating Haskell code via `grep` to `fast-tags` to `ghcide`. What a change! Thank you for making our lives easier.

Here's a minimal working example of a `stack`-based library project that leads to an error, and I'm not sure whether it's me or `ghcide`. It seems like there's a problem with the auto-generated `Paths_Repro.hs` file of my project.

[code]

I am using th

[2020-09-17 12:28] jneira commented on #817
wow, i did not remember that, thanks!

[2020-09-17 13:12] uncle-betty commented on #819
Oh, and for reference: I got the idea to add `.stack-work/dist` to `hie.yaml` from #574.

[2020-09-17 19:46] uncle-betty commented on #819
Looks like 5dd52ec introduced the issue about two weeks ago. Versions before that correctly process my example. Isn't `git bisect` magic?

[2020-09-17 21:21] ndmitchell commented on #819
CC @pepeiborra - that doesn't look like it would have been an expected fallout.

[2020-09-17 21:27] jneira commented on #474
I am thinking in creating a helper function `knowBrokenInWindows`, use it in the actual failing tests for windows.
At least the test suite will be executed.

[2020-09-17 22:04] pepeiborra commented on #819
I think this is a cradle problem, unrelated to 5dd52ec. But I might be wrong.

A cabal cradle does the right thing. The cradle generated by `gen-hie` does it right as well. But the stack cradle wrongly doesn't list the Paths module, and that prevents ghcide from locating them, which leads to the unhelpful error message "this module lives in a package".

## Stack cradle
[code]

## Cabal cradle
[cod

[2020-09-17 22:04] pepeiborra commented on #819
(the implicit cradle gets it wrong too, /cc @jneira )
[code]

[2020-09-18 05:23] uncle-betty commented on #819
Thanks for looking into this!

Let me know, if I can help and run more experiments on my end to establish whether this is or isn't related to 5dd52ec.

So far I have "1 file worked" for the preceding commit, 2eb2689.

[code]

And I have "1 file failed" for 5dd52ec when running `ghcide` on the same directory as above.

[code]

Hence my earlier comment about 5dd52ec. Sorry, if this turns out to be a

[2020-09-18 06:06] jneira commented on #819
@uncle-betty for the shake of completeness, what is the effect in the editor? Do you get the same error opening `Repro.hs` within it and you dont get diagnostics or hover info in the module?

[2020-09-18 06:38] jneira commented on #819
The implicit cradle removes all `autogen-modules` from the cradle, and to be fair i dont know if it can do much more about that in a reliable way.
It could add them for the default lib/exe to mimic the hack described in #574. But it seems the hack does not work anymore, even with an explicit `hie.yaml` (due to 5dd52ec? the fact is the hack worked for me with an explicit stack `hie.yaml`at that poi

[2020-09-18 06:48] Avi-D-coder commented on #819
I was never really clear what to do about auto modules. Until an explicit `hie.yaml`  works for this use case, it's a `hie-bios` issue.

I suspect `hie-bios` will need first class support for auto modules or for the build systems that use them.

[2020-09-18 15:10] uncle-betty commented on #819
@jneira - I'm using vim with the vim-lsp plugin. When I put on the cursor on `Paths_Repro` in the `import Paths_Repro` directive in `Repro.hs`, then:

* `:LspDefinition` says `No definition found`
* `:LspHover` says `No hover information found`

Thanks again, everyone, for looking into this.

[2020-09-18 20:24] jneira commented on #474
Local failing tests:
[code]
        *       *       *
        *Defined in ‘Data.Text.Internal’*
        *       *       *

        A space efficient, packed, unboxed Unicode text type.*  *       *

plugins:                                                                                                FAIL (0.78s)
    test/src\Development\IDE\Test.hs:41:
    Could not find (DsError,(8,14),"Variable

[2020-09-19 11:10] alanz opened #822 "ghcide (hls) fails silently on GHC source for syntax error in Parser.y"
If I have a Syntax error in Parser.y, and I start up editing another haskell file (e.g. PostProcess.hs), there is not indication that there is a problem, but no IDE features work.

[code]

[2020-09-19 11:48] ndmitchell commented on #822
Was the error in the `.y` file present before you started editing? In general, I think changes to `.y` files will be entirely ignored other than when starting. Maybe `hie-bios` should we equipped with the command to regenerate .hs files and that knowledge, if we want to support `.y` files.

[2020-09-19 11:58] wz1000 commented on #822
I don't think the issue is with `.y` files(ghcide ignores them completely), it's with the fact that the cradle failure wasn't reported as a diagnostic.

[2020-09-19 15:19] uncle-betty commented on #819
I think I have some more insights.

It seems that 5dd52ec breaks my test case in a different way than current `master`. To locally resolve an import back in 5dd52ec, it was enough for a `.hs` file for the imported module to exist in one of the expected directories. In contrast to this, with current `master` the bar is higher and my issue seems to be caused in the following, different way:

* `Path

[2020-09-19 16:50] pepeiborra commented on #819
The contract between ghcide and hie-bios is that the latter provides a fully exhaustive list of cradles. This assumption is used at various places and is fundamental for correctness. @fendor correct me if I’m wrong.

The ghcide changes to locate modules started in https://github.com/haskell/ghcide/commit/b4589aebe639c9e5368e7b8413f794353aa55a55 which is a few commits earlier than the one you are p

[2020-09-19 16:58] uncle-betty commented on #819
Oh, no rush. I am happy to use the workaround I discovered.

I didn't mean to come off as pushy. Apologies, if I did. I just had some time on my hands today to poke around and learn a little more about the inner workings of `ghcide` and `hie-bios`.

Thanks for the information on the guarantees given by `hie-bios` - and have a good weekend!

[2020-09-19 17:12] fendor commented on #819
@pepeiborra Indeed, that is the contract, but Stack breaks it. Afaict, there is no way to obtain all Targets with stack.

@uncle-betty Awesome detective work, that is exactly what is happening.
The conclusion is in my opinion that stack needs to define the interface we need so that we can support it properly. As a  first step, list the Paths_* module as a target in the ghci-script.

[2020-09-19 17:37] ndmitchell commented on #819
@fendor do we have an upstream Stack ticket saying exactly what information we are missing? And the consequences for Stack users?

[2020-09-19 20:23] jneira commented on #819
I am afraid that maybe there is no direct negative consequences for stack final users, so there won't be much motivation to fix it.
Therefore maybe we should think in a workaround in hie-bios or in implicit-cradle. Afaik `hie-bios` does not even fires the repl, only collects the flags that cabal would use to fire it so it could not call any repl command.
Maybe `hie-bios`could add auto `Paths_pack_

[2020-09-19 20:24] ndmitchell commented on #819
Isn't the consequence for stack users a degraded HLS experience? That seems like a negative consequence.

That does seem a good idea though.

[2020-09-19 20:56] fendor commented on #819
No, I think we did not open one yet :/ Ghcide mitigated the issue by discovering modules by itself.

Seems like a good work-around. Not sure though, how we can obtain the package_name :/

[2020-09-20 07:46] uncle-betty commented on #819
I looked into modifying `stack` and the following is what I could come up with. It's a pretty small change. Maybe polish it a little (I can read Haskell but I can barely write it) and submit it as a proposal when opening a ticket with the `stack` team? It's a branch off current `master`.

https://github.com/uncle-betty/stack/compare/master...uncle-betty:hie-bios

Here's how `stack` determines the

[2020-09-20 10:03] #703 closed

[2020-09-20 10:11] #769 closed

[2020-09-20 12:19] alanz commented on #822
Yes. I had actually deliberately put an error in the .y file as a reminder where to carry on for my next work session on GHC.  So this was a fresh startup of my IDE, where I loaded `PostProcess.hs` to warm up HLS, as I normally do. And basically nothing happened, visibly.

[2020-09-20 17:10] uncle-betty commented on #819
Here's a proposal for a plan B: a workaround in `hie-bios`.

https://github.com/uncle-betty/hie-bios/compare/master...uncle-betty:stack-autogen

This proposal extends the wrapper script by adding the following:

* It actually runs GHCi.
* It sets the GHCi prompt to `__MARK__` framed by two newline characters, so that it always appears on a line by itself.
* It issues `:show modules`.
* The easily

[2020-09-20 17:18] ndmitchell commented on #819
Does actually running ghci massively slow down loading up a package? That's my biggest concern - the time to start up a cradle is one of the annoying "does my project work" moments, so extending it is bad.

[2020-09-20 18:58] uncle-betty commented on #819
Oooooh, performance. I should have tried this with something other than my toy example, right?

Turns out that the performance is... hilariously bad! I just fired up `ghcide` with the modified `hie-bios` and ran it on the Agda code base - and it takes about 90 seconds for each GHCi run. Nine zero seconds! And there are a lot of GHCi runs involved. Then I want out to get myself a tantuni dinner aro

[2020-09-20 20:18] jneira commented on #819
@uncle-betty really great work
If there is no good enough codificable workaround and there is a manual one (although an ungly one) i would go for the right one: patch stack.

[2020-09-20 22:37] gdevanla commented on #792
I am using hls with emacs. I do see the following CodeLens:

[code]

And, when I do lsp-execute-code-actions, I see a lot of options listed in the menu I can choose from. I have pasted a few here:

[code]

Am I checking this incorrectly?

[2020-09-21 07:53] uncle-betty commented on #819
Thanks for your kind words. I am glad that I could contribute.

I opened a ticket with `stack`: https://github.com/commercialhaskell/stack/issues/5392

[2020-09-21 12:38] pepeiborra commented on #792
Yes. This ticket is for the "extend import" code action. You are missing the two import declarations in the original repro.

[2020-09-21 12:48] unhammer commented on #654
87371a125acede1adb758ed6f86df293b7687f1f seems to be merged

[2020-09-21 14:33] uncle-betty commented on #819
Alright, the above plan A proposal was accepted and has been merged into the `master` branch of `stack`.

Things now work well for me with my toy example as well as the Agda source code. Woohoo! I am a happy camper.

I can't imagine that the change will be part of the upcoming version 2.3.4 of `stack`, but judging from the version use on `master` it should be no later than `stack` version 2.4.0.

[2020-09-21 17:09] michaelpj commented on #776
I've noticed some further odd behaviour. It seems like if we look at a file `<src1>/A/B.hs`, we "look" in all the other source folders too, and send watch notifications for those too. So a single file lookup sends N notifications! Times 2 for the `.lhs` as well.

This renders emacs almost unusable for me after I've opened a few components.

[2020-09-21 19:06] pepeiborra commented on #776
That is how it works indeed. To resolve imported modules, ghcide has to consider all the possible locations where that module could exist, including all the import dirs and file extensions.

This is because Cabal/Stack cradles provide module targets that do not identify the path to the module. If you are lucky enough to be using a Bios cradle then do make sure to provide file targets; ghcide is sm

[2020-09-22 09:28] michaelpj commented on #776
Could you leave a few bullet points saying what you would likely try here? I might give it a go.

[2020-09-22 10:25] #68 closed

[2020-09-22 20:58] jneira commented on #817
@fendor sorry i misreaded the cabal file, it is already using `build-tool-depends` and although it does not a global install, makes the tool available in the test suite

[2020-09-22 20:58] #817 closed

[2020-09-23 08:26] pepeiborra commented on #776
You will need to modify the `GetFileExists` rule, which lives in https://github.com/haskell/ghcide/blob/master/src/Development/IDE/Core/FileExists.hs

The current implementation registers a watcher the first time it is called for a file F.

You want to replace that with a workspace-wide watcher for the file extensions in https://github.com/haskell/ghcide/blob/master/src/Development/IDE/Types/Optio

[2020-09-24 10:12] jneira commented on #387
I think there were some changes to make nix work after this issue: @rsoeldner could you check if it is resolved with lastest ghcide version?

[2020-09-24 10:13] jneira commented on #393
#410 might fix that, @larskuhtz feel free to reopen if it is not the case

[2020-09-24 10:13] #393 closed

[2020-09-24 10:19] jneira commented on #404
@domenkozar  not sure if lastest version of ghcide could have fix this, or if we could do something in ghcide to fix it, so i will close this if nobody disagree

[2020-09-24 10:24] jneira commented on #421
@mpardalos hi! anything of interest about this issue? could it be closed?

[2020-09-24 10:28] jneira commented on #426
@MaxGabriel did you have the chance to test the possible solutions? Feel free to reopen if they dont owrk for you

[2020-09-24 10:28] #426 closed

[2020-09-24 10:32] jneira commented on #430
@anfelor hi, does this reproduce with lastest ghcide version?

[2020-09-24 10:40] jneira commented on #442
The ghcide vscode extension is not the main one since vscode-haskell supports ghcide, and it supports multi root ws.

[2020-09-24 10:40] #442 closed

[2020-09-24 10:47] jneira commented on #491
Afaiu we have a final conclusion here and there is nothing left to be done so we could close this, if nobody disagree

[2020-09-24 11:14] jneira commented on #448
I've just checked this one in haskell-lsp and it is not implemented yet.
I guess @wz1000 work about using a database to store the needed info could enable this

[2020-09-24 11:28] jneira commented on #453
I cant reproduce with lastest hls (so i guess ghcide would not do it too)

[2020-09-24 11:37] jneira opened #829 "Support for call hierarchy support"
(From https://github.com/mpickering/ghcide/issues/18)
* It is a feature common in other ides like eclipse or intellij
* It shows the graph of all transitive calls of a function, in a tree:
  * The nodes are selectable (shows info in the right pane) and navigable with ctrl+click
  * In the right pane other info like the possible multiple calls in the same funcion, with the line number (also navigab

[2020-09-24 11:43] jneira commented on #454
Reproduced with lastest hls and ghcide (although i got only 2 duplicates)

[2020-09-24 11:48] jneira commented on #456
I cant reproduce with lastest ghcide (saving files) but being a heisenbug maybe it is not fixed

[2020-09-24 11:50] jneira commented on #467
multi-cradle is merged and an explicit cradle should fix it (as #328), so closing

[2020-09-24 11:50] #467 closed

[2020-09-24 11:52] jneira commented on #468
As multi-cradle is already supported in ghcide this is not reproducible anymore

[2020-09-24 11:52] #468 closed

[2020-09-24 11:55] jneira commented on #470
I think this should be fixed by the multi-component support, @Eugleo feel free to reopen if you continue experiencing the bug with lastest ghcide/hls

[2020-09-24 11:55] #470 closed

[2020-09-24 11:58] jneira commented on #472
It is reproduced with lastest ghcide

[2020-09-24 12:01] jneira commented on #501
@AndreasPK The none cradle is already supported and you can use it to exclude those files

[2020-09-24 12:01] #501 closed

[2020-09-24 13:58] mpardalos commented on #421
I was actually planning to start work on this. It's still very much an issue. It should stay open.

[2020-09-24 14:42] ndmitchell commented on #442
Do we expect that Ghcide continues to work standalone with its extension? I guess yes? And I guess that not supporting multi-root workspaces is fine.

[2020-09-24 15:37] teto opened #830 "ghcide stuck on a failed hie.yaml with no feedback"
I have this faulty hie.yaml  (as in .OUT/generated.flags didn't exist)
[code]
Step 1/4: Finding files to test in /home/teto/nova/project
[code]

[2020-09-24 16:32] pepeiborra commented on #453
This happens because GHC diagnostics and suggestions seem to elide module qualifiers. Not sure whether it's a GHC configuration setting or a bug.

[2020-09-24 16:33] #491 closed

[2020-09-24 20:02] jneira commented on #453
I tested it in windows and ghc-8.8.3

[2020-09-25 19:55] fendor commented on #830
I think, the former is a `hie-bios` bug (although can be handled in `ghcide` if the interface is insufficient), while the latter is a `ghcide` bug.
If the bios program is faulty, it should not crash the whole application without feedback.

[2020-09-26 13:20] anfelor commented on #430
@jneira I haven't used `ghcide` much in the last few months so I can't say for sure. I did run some test today though and it seems like the bug is gone. I can come back to this issue if I should encounter it again.

[2020-09-26 14:19] jneira commented on #430
Thanks for the update, i am gonna close it, feel free to reopen if you hit it again.

[2020-09-26 14:19] #430 closed

[2020-09-27 08:07] #663 closed

[2020-09-27 10:29] pepeiborra opened #835 "Apply nothunks to ghcide and dependencies"
[nothunks](http://hackage.haskell.org/package/nothunks) is a library to do runtime detection of unexpected thunks.
This is very relevant for us since we have suffered from space leaks in the past.

Thunks checking could be guarded by a flag. I expect that there will be plenty of thunks in ghcide, its dependencies and GHC itself. If we ever manage to eliminate all of them, we can enable the flag in

[2020-09-27 11:49] botal9 commented on #472
Hi! I'd be happy to work on this issue.

[2020-09-27 12:02] ndmitchell commented on #472
Thanks @botal9 - that would be great. There are three relevant modules - the first three of https://github.com/haskell/ghcide/search?q=completion. Not sure at what level to reduce it - probably best to write a test, and then experiment with where to remove the duplicate.

[2020-09-27 13:56] ndmitchell commented on #453
From reading https://hackage.haskell.org/package/ghc-8.10.1/docs/src/RdrName.html#line-275 and https://hackage.haskell.org/package/ghc-8.10.1/docs/src/Name.html#pprModulePrefix `Opt_SuppressModulePrefixes` looks like it might be relevant.

However, testing this code, it doesn't seem to reproduce, so closing.

[2020-09-27 13:56] #453 closed

[2020-09-27 14:12] bratfizyk commented on #636
Update from my side: I've just migrated from nixos-20.03 to nixos-20.09, which contains ghcide version 0.3.0. Migrating to the newer version solved my problem and I can now use ghcide in VS Code following the hints you had provided here. Many thanks for the help.

[2020-09-27 14:12] #636 closed

[2020-09-27 19:40] jneira commented on #803
Support definitely droped with #834

[2020-09-27 19:40] #803 closed

[2020-09-27 20:13] #776 closed

[2020-09-28 07:56] rsoeldner commented on #387
@jneira havent encountered this issue again, thanks!

[2020-09-28 08:01] wz1000 commented on #829
LSP 3.16 is not out yet

[2020-09-28 08:02] #387 closed

[2020-09-28 08:23] #472 closed

[2020-09-29 05:51] adamschoenemann commented on #574
Great, thanks for the help :)

[2020-09-29 16:20] googleson78 commented on #574
This can now be closed due to https://github.com/haskell/ghcide/issues/819, right?

[2020-09-29 20:27] jneira commented on #574
Yeah, for completeness:
* the described workaround is not longer needed for cabal (just tested it) and it does not work for stack with lastest hls/ghcide
* once a new stack version is released hls will be able to handle those modules directle for stack too

[2020-09-29 20:27] #574 closed

[2020-09-29 20:30] googleson78 commented on #574
Happily, a release candidate for stack (2.5) just popped up with the patch!

[2020-09-29 20:38] jneira commented on #819
If you dont minf, i will reopen this to give it more visibility, until the new stack version wih the fix is released
(i am afraid that it is [an issue](https://github.com/commercialhaskell/stack/issues/5407) that can be related with the changes made in the patch 😟 )

[2020-09-30 10:53] teto commented on #830
I wanted to iterate on the point 2 of this message https://github.com/mpickering/hie-bios/issues/250#issuecomment-696223578 .
The matter is not that its a symlink in this case but that ghcide is scanning the whole file hierarchy in ./. even though my multicradle config (the same as in that message), just mentions subfolders of `project/` while setting ./. to the none cradle. I leave ghcide (in fac

[2020-10-01 07:29] googleson78 opened #842 "Intermittent "failed to load packages, cannot satisfy -package <main-lib>" from components other than <main-lib>"
I "randomly" get errors like `ghcide compiled by GHC 8.8 failed to load packages: <command line>: cannot satisfy -package main-lib-name-0.1.0.0` when trying to use ghcide/hls on a component that isn't the main library.

Yes, I am using a matching  version.

The component I'm currently trying to use has some compilation errors (redundant imports + `-Werror`), that did indeed pop up when I tried to

[2020-10-01 11:23] mrBliss opened #843 "Ambiguity problem with re-exports and multiple packages"
To reproduce the problem:
* Clone https://github.com/mrBliss/ghcide-bug.
  This repo consists of three packages: `a`, `b`, and `c`.

  `b` depends on `a`, and `c` depends on both `a` and `b`.

  Each package contains a single module: `A.hs`, `B.hs`, and `C.hs` respectively.

  - `A.hs` defines and exports `data Foo = Foo`
  - `B.hs` re-exports `A`
  - `C.hs` imports both `A` and `B` and defines a

[2020-10-02 07:19] jneira commented on #474
After #821 the ignored tests are:
* cpp/cpp-error: @ndmitchell noted that it would be related with a ghc issue. It was merged 6 months ago but we dont have a reliable ghc version for windows yet
* plugin tests: those tests are problematic in the ci env for ghc > 8.6.5, sometimes fails, other times the test passes (the second one) but they throws weird exceptions frequently or even do not terminate

[2020-10-02 08:37] jneira commented on #476
@mimi1vx hi! have you the chance or trying the [workaround above](https://github.com/haskell/ghcide/issues/476#issuecomment-598785186)? does it reproduce with lastest ghcide?

[2020-10-02 08:38] jneira commented on #482
It should be a plugin in hls so transferred

[2020-10-02 08:41] jneira commented on #485
Are we still considering using it?

[2020-10-02 08:44] ndmitchell commented on #485
I am still considering abstracting out the build system parts, and making it easier to write our own/use reflex/use Shake and change between them. But its nowhere near the top of my list.

[2020-10-02 08:46] jneira commented on #487
I cant reproduce with last ghcide version. Otoh cabal does not write ghc env files by default.
@joehendrix @Avi-D-coder can you still reproduce the error?

[2020-10-02 08:49] jneira commented on #488
is this still reproduced with last ghcide?

[2020-10-02 08:50] jneira commented on #494
Fixed by #522

[2020-10-02 08:50] #494 closed

[2020-10-02 08:51] ndmitchell commented on #487
Older cabal's do write the env files by default.

[2020-10-02 09:04] mrBliss commented on #843
@jneira Why the "needs repro" label? I think the minimal example in the description is a repro, right?

[2020-10-02 09:17] ndmitchell commented on #843
@mrBliss - I think it's because we need a second person to confirm it reproduces and thus isn't a weird quirk of some cabal/GHC setting you modified on your machine a long time ago. Agreed, your bug report seems quite extensive - thanks for taking the time to produce something so clear!

[2020-10-02 09:20] mrBliss commented on #843
Ah, alright, gotcha.

[2020-10-02 10:31] fendor commented on #843
IIRC I reproduced exactly this issue a couple of days ago.
I *think* this is a regression and was fixed in the very early days of multi-component.

[2020-10-02 11:14] jneira commented on #843
@mrBliss: @ndmitchell is right, sorry if the label sounds a little bit harsh, the description is "It needs to be reproduced by someone else" but it is not shown by default

[2020-10-02 11:29] jneira commented on #507
This should be fixed by #361, @KeesBleijenberg feel free to reopen if it is not the case

[2020-10-02 11:29] #507 closed

[2020-10-02 11:32] jneira commented on #509
I've not observed this nowadays, is it still an issue?

[2020-10-02 14:11] uncle-betty commented on #819
Thanks for the heads-up. I commented on the `stack` issue, contemplating a possible way forward.

[2020-10-03 11:01] jneira commented on #474
Frequent transient errors:
[code]
Last message varies, f.e. `finish: kick (took 0.00s)`

[2020-10-04 07:06] runeksvendsen commented on #652
I finally had some more time/motivation to look at this issue.

I grepped the code base for case-insensitive "qualif" and found the following suspicious line: https://github.com/haskell/ghcide/blob/1bb4c49fdacf969a0f18b032859480ba00515107/src/Development/IDE/Spans/Common.hs#L48.

[`neverQualify`](https://hackage.haskell.org/package/ghc-8.10.1/docs/Outputable.html#v:neverQualify) is a GHC flag -- a

[2020-10-04 08:13] mpickering commented on #835
I discussed something like this a bit with @mpardalos

There are probably some values returned by the GHC API which contain these kinds of thunks so it would also require upstream fixes to deal with properly.

[2020-10-04 10:23] pepeiborra commented on #843
How is this different from the known issue outlined in the README:

[2020-10-04 10:33] mrBliss commented on #843
Aha, that indeed sounds like exactly the same issue! Sorry for missing that :flushed:. Is there an existing issue I could have commented on and that is used to track the progress on it?

Nevertheless, I would still appreciate very much if it were fixed, because I can't use `ghcide` for my day job because of this.

(If I use a `direct` cradle, I run into https://github.com/haskell/ghcide/issues/842

[2020-10-04 10:33] pepeiborra commented on #842
If the component C1 that you are trying to use is a dependency of the component C2 that you are trying to load, `C2 -> C1`, then it is likely that the C2 cradle will fail when trying to build C1 (since it is a dependency), preventing the flags from C2 from being computed.

In case it adds clarity, multi-cradle support would load C2 after having already loaded C1 as follows:

0. Run the cradle for

[2020-10-04 10:35] pepeiborra commented on #843
I don't know how to fix this, in the current state of affairs. The notes I left in #842 might provide some clarity

The only workaround I know is to use a direct cradle to manually merge both components into a single one, which is not trivial.

[2020-10-04 16:03] googleson78 commented on #842
It's the opposite - I'm trying to use C1 (a test suite), which depends on C2 (the library of the package)

C2 builds fine
C1 doesn't build, but in my vim, instead of seeing the compilation errors, I just get what amounts to cannot find package C2

If I run hls/ghcide via command-line I **do** see the compilation errors, but right after that I get the "can't find" error, which I'm assuming override

[2020-10-04 16:04] #107 closed

[2020-10-04 16:04] #614 closed

[2020-10-04 16:08] pepeiborra commented on #842
Is this with a stack or cabal cradle? Does it work with either?

[2020-10-04 16:11] googleson78 commented on #842
stack, haven't tried cabal, and I unfortunately haven't found out the exact sequence of steps to repro it yet. It just seems to happen "at random" but often enough that it's annoying.

Sorry for the "ghost story" issue!

[2020-10-04 16:21] wz1000 commented on #537
I think this should be fixed by #836 since we don't run the bytecode generator anymore. Please reopen if this is not the case.

[2020-10-05 07:19] jneira commented on #165
Closed by #815, thanks @serras!

[2020-10-05 07:19] #165 closed

[2020-10-05 07:42] jneira commented on #197
I think @alanz did some improvements in hover info to make it better in emacs, @carlosdagos could you try last ghcide version?

[2020-10-05 07:44] alanz commented on #197
@jneira I did do improvements, but in some rearrangement along the way the improvement got lost.

I have not got round to doing it again.

[2020-10-05 07:50] jneira commented on #486
Afaict hls already shows two versions of the type signature but ghcide does not, @Avi-D-coder do you think that is worth to port from the formar to the latter?

[2020-10-05 07:51] jneira commented on #402
The test for cpp error is marked as ignored in windows due to this

[2020-10-05 07:52] jneira commented on #422
ghcide master already has it! :smiley:

[2020-10-05 07:52] #422 closed

[2020-10-05 07:52] alanz commented on #486
My change put the two versions (the "official" one and the as-localised one) next to each other, at the top, as they used to be in hie.  At the moment the official one is at the top, the as-localised right at the bottom, where sometimes you have to scroll.

[2020-10-05 07:55] jneira commented on #444
Maybe this one is fixed by #836? @istathar could you give a try, please?

[2020-10-05 07:59] jneira commented on #512
@pepiborra the ghc mr is merged, did it fixed the problems with the concurrent garbage collector?

[2020-10-05 08:01] jneira commented on #515
Could the benchmark help to test the use of  different gc's?

[2020-10-05 08:02] jneira commented on #517
Issue is old and it was not reproduced at that time. @mpickering feel free to reopen if you continue hitting it

[2020-10-05 08:02] #517 closed

[2020-10-05 08:06] jneira commented on #520
Not sure if #836 could help with this, @matthewess @hamishmack could you give a try?

[2020-10-05 08:10] jneira commented on #523
Afaict the info on hover already include the `Defined in <Module>` in ghcide/hls (not sure what pr did the change)

[2020-10-05 08:10] #523 closed

[2020-10-05 08:13] jneira commented on #529
Unfortunately the bug is also present in 8.8.4, it seems ghc-8.10.2 coud improve the situation but i had another bug that needs a workaround.
Anyways i think we can't do much here but wait to a reliable ghc windows version.
Building it several times usually makes the build succesful though.

[2020-10-05 08:13] #529 closed

[2020-10-05 08:32] jneira commented on #524
Afaiu all the points mentiones had been fixed in ghcide master, @emlautarom1 feel free to create another specific issue if it is no the case for any of them

[2020-10-05 08:32] #524 closed

[2020-10-05 08:34] jneira commented on #528
Had been some improvements for use ghcide in nix environments, @zeta-00 could you check if you continue experiencing the issue with lastest ghcide?

[2020-10-05 08:35] jneira commented on #532
ghcide has already support for ghc-8.8

[2020-10-05 08:35] #532 closed

[2020-10-05 08:37] jneira commented on #550
Ok, maybe we should add the `always link ghcide dynamically if ghc is` to troubleshooting cause there are several issues here in hls about.

[2020-10-05 08:40] jneira commented on #553
Closed by https://github.com/cachix/ghcide-nix/commit/7932bfbaf98b995a11d9b19a757584df3821a64e

[2020-10-05 08:40] #553 closed

[2020-10-05 08:41] jneira commented on #559
Afaik `ghc-check` already has the fix for that

[2020-10-05 08:41] #559 closed

[2020-10-05 09:28] pepeiborra commented on #515
That would be cool, thanks for suggesting! Would you give it a go?

[2020-10-05 09:28] pepeiborra commented on #512
I haven't checked

[2020-10-05 09:39] ocharles commented on #843
Ahh, I'm really glad to see someone has reported this! I keep running into this myself in our work code base. For example, right now I see this:

![image](https://user-images.githubusercontent.com/20878/95063951-f1009200-06f6-11eb-8d23-abae08715bcc.png)

(Sorry about the screenshot, I'm not sure how to actually copy/paste errors out of Emacs popups!)

[2020-10-05 09:51] jneira commented on #562
We dont have a reproducible case and afaiu it is fixed for sure in ghc-8.10, should we keep open this?

[2020-10-05 09:57] jneira commented on #570
I cant reproduce with lastest ghcide. is the @ndmitchell suggestion still needed?

[2020-10-05 09:58] jneira commented on #583
It seems this was resolved by #589. Feel free to reopen if it is not the case

[2020-10-05 09:58] #583 closed

[2020-10-05 09:59] jneira commented on #591
Closed by 8f6eb2d

[2020-10-05 09:59] #591 closed

[2020-10-05 10:05] jneira commented on #594
I can't reproduce with lastest ghcide neither. @dhruvio feel free to reopen if you continue experiencing it

[2020-10-05 10:05] #594 closed

[2020-10-05 10:07] pepeiborra commented on #843
It's the same bug, fake_uid is the name of the fake package that ghcide creates and loads in the GHC session. We should probably improve the name to give some clarity.

I don't know that anyone is actively working on fixing this (/cc @wz1000) so your best bet is to craft a direct/bios cradle that merges all your packages into a single project. Tooling to automate this (in the style of `implicit-hi

[2020-10-05 10:29] pepeiborra commented on #570
Yes

[2020-10-05 10:41] jneira commented on #515
sorry i am afraid i will have no time at short/medium term to try it

[2020-10-05 10:56] jneira commented on #570
Ok, so afaiu it would be an generic improvement in error handling (as the original bug is not reproduced anymore)

[2020-10-05 12:16] tek commented on #486
it's really nice now!

[2020-10-05 12:40] jneira commented on #641
Reported again in #210 where @istathar has commented:

So it was not present in hls-0.4.0, which used its own branch of ghcide but it is present now, using ghcide master

[2020-10-05 12:52] istathar commented on #444
@jneira alas. I just tried it with **ghcide** from 'master' and I'm afraid to report that when I remove the `#ifdef` workaround it once again:

[code]

[2020-10-05 13:01] istathar commented on #641
(I just tried changing from 'haskell-language-server' to the 'ghcide' in vscode's settings, and _if_ that uses a `ghcide` from PATH then I can report that the one I just built from master to test something else for @jneira also exhibited this problem)

[2020-10-05 14:36] mpickering opened #847 "Internal names displayed in hover for a typed hole"
For example:

<img width="644" alt="Screen Shot 2020-10-05 at 15 34 05" src="https://user-images.githubusercontent.com/1216657/95093306-8a906980-0720-11eb-860c-56326c1c64aa.png">

[2020-10-05 14:41] wz1000 commented on #847
The markdown for the location is `*Defined at <no location info>*`. I guess vscode is gobbling up the bit between the angle brackets.

[2020-10-05 16:15] mrBliss commented on #843
@ocharles I'm also glad to hear I'm not the only one suffering from this!

Right, back to the direct cradle for now. I'm pretty sure my direct cradle definition is correct: it has worked fine for months with an older version (pre 0.2.0) of ghcide *and* `hie-bios check <MODULE>` works as expected.

I just found out some more circumstances related to the error from #842 that I'm getting:
* As mentio

[2020-10-05 16:30] mpickering opened #849 "Hover/go to definition do not work with top-level splices"
If you have a top-level splice then when you hover over it you get information about the generated code rather than the source program. I made a start at fixing this on a branch but got stuck working out how to mix together the splice expressions and the normal HieASTs information.

The plan for fixing this was:

* Add a hook to capture the spliced expression before it is run (implemented)
* Use t

[2020-10-05 17:28] runeksvendsen commented on #652
**Update:** changing `neverQuality` to `reallyAlwaysQualify` at https://github.com/haskell/ghcide/blob/1bb4c49fdacf969a0f18b032859480ba00515107/src/Development/IDE/Spans/Common.hs#L48 does not change the suggested type. Only the popup that appears when hovering over the definition changes from:

[code]

to

[code]

[2020-10-05 17:35] mpickering commented on #849
I don't think enough stuff from HieAst is exported to implement this. Only `enrichHie` and `mkHieFile` are exported.

[2020-10-05 18:36] mpickering commented on #849
Working patch is on this branch: https://github.com/mpickering/ghcide/tree/wip/top-level-splices-hover

I only tested it with GHC 8.8.

[2020-10-05 18:47] pepeiborra commented on #843
Does your direct cradle list all the targets in your cumulative set of projects? See the hie-bios readme for more info.

This wasn't a requirement in ghcide 0.2.0 but it is a requirement now.

[2020-10-06 12:30] jneira commented on #474
#836 has introduced another test ignored in windows :worried: so the list is

* cpp/cpp-error for all
* plugin tests (2) for ghc >= 8.8
* add missing module (non workspace) for all

[2020-10-06 14:43] mimi1vx commented on #476
ah, sorry for late reply,

in the end problem was on my side :( and `ghcide` is working fine with ghc-8.10.2

[2020-10-06 14:43] #476 closed

[2020-10-07 16:00] wz1000 opened #854 "Link error when modifying TH"
When modifying TH, it is easy to run into linker errors:

[code]

Test here: https://github.com/haskell/ghcide/pull/853

[2020-10-07 16:08] wz1000 commented on #854
I can reproduce this before the object code PR too.

[2020-10-07 21:53] jneira commented on #597
This maybe was fixed by #645, @ndmitchell have you hit it after that pr?

[2020-10-08 04:24] jneira commented on #641
It seems it was presen in `hls-0.4.0` too

[2020-10-08 05:35] jneira commented on #775
Closing in favor of #469

[2020-10-08 05:35] #775 closed

[2020-10-08 07:56] ndmitchell commented on #597
Haven't hit it, but then upgrading a package database underneath an open session isn't a common thing to do anyway. Let's optimistically say its closed and I can always reopen if it gets hit in future.

[2020-10-08 07:56] #597 closed

[2020-10-08 10:29] wz1000 commented on #854
This, as well as #672 are caused by us not calling `unload`. This means that object code from the first successful compile is reused for all subsequent compiles.

This is further complicated by https://gitlab.haskell.org/ghc/ghc/-/issues/16525 , which means that unloading object code is disabled in `GHC` until https://gitlab.haskell.org/ghc/ghc/-/merge_requests/3842 lands. Calling `unload` should

[2020-10-08 12:32] wz1000 commented on #854
If anyone is going to pick this up, here are the things missing from that branch:

1. Figuring out when object files are stable, so we don't need to unload them.
2. More tests
3. Trying to recreate the scenario from GHC issue #16525, verifying we don't run into that.

[2020-10-08 12:58] bgamari commented on #854
Unfortunately, GHC #16525 can happen to pretty much anyone as it has to do with the structure of the heap. Currently the GC fails to trace CAF references properly when determining whether it can unload. For this reason we have disabled it. Forcing unloading is likely to eventually result in a crash. I have fixed this in !3842.

[2020-10-08 16:13] maralorn commented on #775
@jneira The link needs to go to the different repo: haskell/haskell-language-server#469

[2020-10-08 17:25] pepeiborra commented on #854
We'll have to go back to bytecode at least in 8.8, 8.10 and possibly 9.0.
That means we lose the ability to persist the result of bytecode generation, forcing us to keep all the BCOs in memory which doesn't scale. This is because bytecode is not serializable. Is this really the case? The external interpreter sends byte codes over the wire, so there must be a way to serialise it...

[2020-10-08 17:38] wz1000 commented on #854
One option is to use bytecode for files of interest and object code for everything else. However, someone has to verify that symbols defined in bytecode shadow symbols defined in object code for this to work (for when a non FOI becomes a FOI).

GHCi handles the scenario in the test case just fine with `-fobject-code`. I haven't been able to figure out how it does that. Replicating whatever magic i

[2020-10-08 17:58] pepeiborra commented on #854
What happens when a FOI that used to be a non FOI becomes a non FOI again?

[2020-10-08 18:03] wz1000 commented on #854
I don't know, someone has to figure out the semantics of mixing bytecode and object code, either by reading the source or implementing it.

I tried writing unique object code filepaths for each version of the document and discovered that this won't work. Instead of one Linkable shadowing the other, we get `GHC runtime linker: fatal error: I found a duplicate definition for symbol`.

[2020-10-08 18:06] wz1000 commented on #854
Another option I was discussing with @bgamari was distributing binaries of ghcide/hls built against GHC 8.\*.\* with !3842 applied. Since the patch doesn't affect code generation, it should be able to read package dbs of

Cons are making ghcide/hls development/building from source harder (or maybe not, development binaries just won't work very well with TH).

[2020-10-08 19:24] wz1000 commented on #854
Another discussion with @bgamari reveals that GHCi is probably using the dynamic system linker, not the RTS linker. When we load object files dynamically with the system linker, the likely behavior is that the newest object wins and shadows all the previous ones (which is what we want).

We can do the same in ghcide as a workaround.

[2020-10-08 19:52] pepeiborra commented on #854
To make ghcide use the system linker we would need to build it with `-dynamic`, which is in fact recommended in #550 and https://github.com/haskell/haskell-language-server/issues/434

That's easy enough for local builds but I suspect it will complicate the distribution of binaries in HLS.

[2020-10-08 19:57] bgamari commented on #854
Bytecode itself can be serialised. `ResolvedBCO` has a `Binary` instance although that *might* be too late in the compilation pipeline for you. Specifically the compilation pipeline for bytecode is,

[code]

I haven't thought hard about where the right place in this pipeline would be to persist bytecode.

[2020-10-08 19:59] bgamari commented on #854
`dlclose` is exposed to allow the user to indicate that a loaded dynamic object is no longer needed. Whether this actually unloads anything is of course up to the implementation. However, I introduce support for "unloading" of dynamic objects in [ghc!3842](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/3842) (based on @niteria's previous work).

[2020-10-08 20:03] pepeiborra commented on #854
Does the note below not apply or is it out of date ?

https://gitlab.haskell.org/ghc/ghc/-/wikis/dynamic-linking-debate#do-we-need-the-static-linker-anyway

[2020-10-08 20:09] bgamari commented on #854
It will not apply after ghc!3842 is merged but this hasn't happened yet. In light of the fact that unloading being disabled seems to break ghcide I am somewhat inclined to expedite this process.

[2020-10-08 20:10] pepeiborra commented on #854
Ok so ghc!3842 makes that note obsolete but won't be available until 9.2.

What about the backport in https://github.com/facebook/fbghc/commits/ghc-8.8.3-facebook ?

[2020-10-08 20:11] bgamari commented on #854
It's not so much a backport as another, slightly broken, version of the same thing. I started from that patch, refactored it, and fixed various GC bugs that it triggered.

[2020-10-09 01:56] wz1000 commented on #854
Going over the source, as long as the ByteCode symbols are in the ClosureEnv in the PersistentLinkerState, they will shadow symbols defined in object code. Calling `unload` on the bytecode will remove it from there, so it should be possible to use bytecode for FOIs and object code for everything else if we manage the calls to `unload` properly.

[2020-10-09 02:23] wz1000 commented on #854
Thinking some more, that scheme wouldn't work. Every non-FOI depending on a
FOI would need to use bytecode too.

On Fri, 9 Oct, 2020, 01:41 Ben Gamari, <notifications@github.com> wrote:

[2020-10-09 10:19] slotThe opened #856 "Disable highlighting of (other occurences of) thing at point"
For context, I'm using `ghcide` HEAD with `Emacs` 28 and `eglot` 20200830.1254.

This is the behaviour I'm talking about:

![example](https://i.imgur.com/gjhGft4.png)

I find this hugely distracting and so I would like to disable it.  I guess the more general question here is "is it possible to disable features and, if yes, is this the responsibility of `ghcide` itself or whatever LSP client one i

[2020-10-09 10:29] ndmitchell commented on #856
Does this occur with other languages? And plain text files? I see the same behaviour with VS Code, but I see it on plain text files too, so I might be nothing to do with Ghcide.

[2020-10-09 14:48] alanz commented on #856
This is a feature of LSP, but I think vscode does its own dumb version too, just on word match.
The feature is [Document Highlights Request](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_documentHighlight), and the LSP version uses the actual scope, so is not confused by name shadowing etc. It also highlights differently for where the value

[2020-10-09 15:06] michaelpj commented on #856
I think this is probably the responsibility of elglot. And, indeed, it looks like it provides a mechanism for customizing this, with document highlighting as an example: https://github.com/joaotavora/eglot/blob/master/eglot.el#L1191

[2020-10-09 15:27] slotThe commented on #856
On Fri, Oct 09 2020 08:06, Michael Peyton Jones wrote:

That worked perfectly, thanks!  Even obvious things like this can be
really hard to find when you're not exactly sure what you're looking
for...

[2020-10-09 15:28] #856 closed

[2020-10-09 15:43] michaelpj commented on #856
Yeah, I think we still need to say more about configuration in the readme.

[2020-10-09 20:01] pepeiborra opened #858 "Switch TH compilation pipeline back to bytecode"
To swap over to bytecode, the changes in Compile.hs from https://github.com/haskell/ghcide/pull/836/commits/dc8526a70f752afb3fc2a615a9a04257193816b2 should be enough

For the call to unload, see https://github.com/wz1000/ghcide/commit/39d3fff427138be179e533b2779d05564671596c  from https://github.com/wz1000/ghcide/tree/reload-th
If we are using bytecode, we don't need to call `unloadObj`. However,

[2020-10-09 20:01] pepeiborra commented on #858
See also #854

[2020-10-09 20:02] pepeiborra opened #859 "Investigate bytecode serialization"
Bytecode itself can be serialised. `ResolvedBCO` has a `Binary` instance although that *might* be too late in the compilation pipeline for you. Specifically the compilation pipeline for bytecode is,

[code]

I haven't thought hard about where the right place in this pipeline would be to persist bytecode.

_Originally posted by @bgamari in https://github.com/haskell/ghcide/issues/854#issuecomment-7

[2020-10-09 20:02] pepeiborra commented on #859
/cc @josefs

[2020-10-10 11:10] DunetsNM opened #860 "Hover Documentation html file should be looked up from Haddock interfaces"
Will leave it here to track work in progress.

Sometimes "Documentation" in tooltip is absent because module that defines Name is different from haddock html file that contains it (usually some other module that re-exports the Name).

A [workaround/hack was created](https://github.com/haskell/ghcide/pull/766) for a common use case but it fails at more obscure cases. I have little idea how Haddock

[2020-10-10 12:49] #847 closed

[2020-10-10 14:22] jneira commented on #61
This feature is included in @wz1000 hiedb branch of ghcide and merge it would bring it to master

[2020-10-10 16:46] gdka commented on #792
Do you have more context? Files to modify? and how I can test the changes?:)

[2020-10-10 17:29] pepeiborra commented on #792
The relevant code is in Development.IDE.Plugin.CodeAction, function `suggestExtendImport`.
To test the changes, extend the unit tests.
Good luck!

[2020-10-11 07:01] wz1000 commented on #854
The error goes away if we use `-fexternal-interpreter` and `WayDyn`. However, plugins don't work anymore since they require an internal interpreter.

All the other tests seem to pass.

[2020-10-11 07:24] wz1000 commented on #854
I can make the plugin tests pass by unsetting `Opt_ExternalInterpreter` and `WayDyn` before `initializePlugins` and resetting them after.

@bgamari can anything go wrong if we mix together the internal and external interpreters in the same session?

[2020-10-11 07:51] pepeiborra commented on #854
@wz1000 Can we expect the external interpreter to put up with ghcide calling it concurrently and abruptly cancelling computations? I suspect we'd need one external interpreter per normalised filepath but I don't know if that's possible

[2020-10-11 08:06] wz1000 commented on #854
@pepeiborra No idea, it seems to work fine when I'm using it in vscode. Perhaps we can mask exceptions when running TH using [`hscCompileCoreExprHook`](https://hackage.haskell.org/package/ghc-8.10.1/docs/src/Hooks.html#hscCompileCoreExprHook).

[2020-10-11 09:36] gdka commented on #792
Do you actually have unit test for this section? I can't find anything in /tst/src/development/ide

[2020-10-11 15:10] ndmitchell commented on #658
I think such information should live on the Haskell Language Server page - https://github.com/haskell/haskell-language-server. As to the questions you ask above, they are all VS Code specific. Goto definition is at https://code.visualstudio.com/docs/editor/editingevolved#_go-to-definition. Insert type isn't provided, unless a link pops up above the line, in which case just click it. Goto error is

[2020-10-11 15:10] #658 closed

[2020-10-11 19:09] pepeiborra opened #865 "Interleave benchmark results"
_Originally posted by @wz1000 in https://github.com/haskell/ghcide/pull/864#issuecomment-706749321_

More generally, we can add code to produce useful metrics in addition to the barebones CSV

[2020-10-11 21:33] #865 closed

[2020-10-13 03:45] konn opened #868 "Local compiler plugin cannot be loaded in ghcide even with `-fobject-code`"
This was originally reported as haskell/haskell-language-server#70, but it turns out that this is a bug in ghcide, so I re-open the issue here.

### Subject of the issue
If one specifies GHC's compiler plugin provided in the *same* package, ghcide fails to find the plugin module.

### Your environment
* ghcide HEAD (10dbde048e8ac028e80f607445776c8375722f75)
* VSCode
* Describe your project: You ca

[2020-10-14 19:44] rvl opened #869 "`ghc -i` include paths ignored with "direct" cradle"
Hi,

I'm trying to use ghcide (revision 10dbde048e8ac028e80f607445776c8375722f75) with the "direct" hie-bios cradle - i.e. the one where you provide options which would be passed to ghci.

[code]

But it seems like the `-i` options are not used.

I have a really simple test project with a library and executable: https://github.com/rvl/hls-test

With the project, this command fails:
[code]

But thi

[2020-10-14 20:39] fendor commented on #869
You have to list *all* targets of your project. E.g. `Lib`, `Main`. We no longer just discover the targets on our own and encourage cradles to be more accurate.

Your direct cradle would be:
[code]

[2020-10-14 23:21] rvl commented on #869
@fendor Thanks for the answer. Adding the module names works!

I spent so long trying to figure this out ... too long. My assumption was that the direct cradle would basically work the same way ghci does. So if I ran ghci with all GHC options reported by `hie-bios debug`, I would get the same results in ghcide.

[2020-10-15 09:29] fendor commented on #869
Yeah, that has changed recently in ghcide and is in that way unrelated to hie-bios.
We need to move a lot of the documentation from hie-bios to ghcide, adding the information relevant to ghcide/hls.

[2020-10-15 16:53] uncle-betty commented on #819
Just a quick update: `stack` version 2.5.1 was just released, which contains the fix proposed above to support auto-generated modules.

The `stack` error reported in commercialhaskell/stack#5407 was resolved by turning the error into a warning. So, the functionality required by `ghcide` is still there in the official `stack` release.

I guess now it's official - this is resolved! Woohoo!

Closing.

[2020-10-15 16:53] #819 closed

[2020-10-16 17:08] emilypi opened #872 "My pragmas keep shouting at me"
Hey all, you have a great project here, and I'm liking the progress so far. My only gripe so far is that whenever `ghcide` prompts me to add an extension, it inserts a very loud pragma LANGUAGE or INLINE or MINIMAL etc. This is a very low priority feature request, but you could add the ability to write lower-case extensions so that I can have an indoor conversation with my compiler?

Thanks

[2020-10-16 17:12] ndmitchell commented on #872
Since Haskell users tend to default to SHOUTY by a significant margin, I think it would have to be a preference - but not an unreasonable one to add. Our preference handling is not something we've invested much in, so that might be a prerequisite.

[2020-10-16 17:17] emilypi commented on #872
Point me in the write direction and I can do it for you guys 😄

[2020-10-16 17:21] wz1000 commented on #872
The code action is generated here: https://github.com/haskell/ghcide/blob/master/src/Development/IDE/Plugin/CodeAction.hs#L512

The preferences mechanism doesn't currently work, #857 should fix it.

[2020-10-17 08:53] pepeiborra commented on #872
Easiest thing to do is to generate two code actions, one SHOUTY and one not

[2020-10-17 12:23] nartamonov commented on #321
I've got the same problem with VS Code Haskell extension and `haskell-language-server` 0.5.1 (don't know what version of `ghcide` it uses), but could find a workaround. When I start VS Code from `Windows Terminal` or `cmd.exe` I get the error. But when I start VS Code from [Cmder](https://cmder.net/) terminal with the following commands in environment settings (`Settings -> Startup -> Environment`

[2020-10-17 14:10] jneira commented on #321
@nartamonov many thanks to provide that workaround, it is really weird that cmder wotks where cmd+chcp 65001 does not.

[2020-10-17 16:06] wz1000 opened #874 "Benchmark more kinds of configurations"
Two that immediately come to mind:

1. Benchmark startup times with a dirty vs clean cache
2. Edits in multiple files, with different topologies (no dependency between files, indirect dependencies, direct dependencies)

[2020-10-17 18:08] alanz commented on #872
We already have too many, cluttering the UI

I think it would be better to make this configurable.  Default as current, but you can set it.

[2020-10-19 06:18] #854 closed

[2020-10-19 12:03] wz1000 commented on #672
Fixed by #873

[2020-10-19 12:03] #672 closed

[2020-10-19 12:03] wz1000 commented on #858
Fixed by #873

[2020-10-19 12:03] #858 closed

[2020-10-19 12:04] wz1000 commented on #872
Another option would be to detect the style being used in the file, and then respect that. This way we do not need a configuration option, and things just work (except for the first time you add a language extension).

[2020-10-19 12:05] wz1000 commented on #849
Are you going to make a PR for this?

[2020-10-19 14:05] ndmitchell commented on #872
I suspect the "ideal" solution would be a setting, with three values - SHOUT, whisper and FollowThisFile.

[2020-10-22 23:57] Fresheyeball opened #881 "Import syntax is a parse error"
Haskell language server correctly suggest the following change

[code]

to

[code]

Which compiles fine. But Haskell language server reports it as a parse error.

[2020-10-23 04:25] jneira commented on #881
@Fresheyeball pehaps the last "haskell language server" should be "ghcide"?

[2020-10-24 08:30] pepeiborra commented on #881
I think [ExplicitNamespaces](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#extension-ExplicitNamespaces) is needed to parse that import.

HLS/ghcide use the suggestions in GHC error messages to generate code actions, so if GHC is suggesting this import but not suggesting the language extension that's probably a bug in GHC. Please check and consider opening an is

[2020-10-25 13:29] ingun37 opened #885 "Example of including ghcide into shell.nix"
Your README.md says

without further explanation.

I guess it's supposed to be easy but I find it really hard as a nix new-comer.

Can you help me by giving a quick example?

[2020-10-28 21:07] Martoon-00 commented on #842
For me, this issue reproduces all the time, cannot build tests and executables using ghcide. Though my project has several subpackages depending one on another, and library code builds fine in all of them.

Whether my component (e.g. a test suite) has building errors or not does not influence the outcome. Even if they are there, I never see them reported, only that `cannot satisfy -package` error.

[2020-10-28 22:30] jneira commented on #842
@Martoon-00 It would be great to have access to some project that reproduces consistently the error, is it open source?

[2020-10-29 09:01] googleson78 commented on #842
Here's a reproducer, at least for me:
https://github.com/googleson78/ghcide842

0. Clone repo
1. `cd lols`
2. `haskell-language-server-wrapper test/Spec.hs`
3. Instead of getting **only** the proper type error from ghc, I also get
[code]

[2020-10-29 19:05] Martoon-00 opened #890 "Mixins are not accounted when trying to hide Prelude"
## Problem

In one of the projects, we are trying to use `mixins` feature to hide the default `Prelude` module and provide our own, in overall this looks like

[code]

However, it looks like hiding `Prelude` does not work, because with ghcide I get the following error

[code]

## Reproduction

I can reproduce this in the [Morley repository](https://gitlab.com/morley-framework/morley/), commit `e9a

[2020-10-29 19:24] wz1000 commented on #890
This might be linked, since `ghcide` gets its flags by asking `stack` for them. Have you tried using a cabal cradle? Otherwise try `hie-bios check SomeFile.hs`, or running `ghci` with the flags returned by `hie-bios dump`.

[2020-10-29 19:52] Martoon-00 commented on #890
I have some severe issues with making `cabal` work.

`hie-bios check` reports the same `Ambiguous module name ‘Prelude’ ...` error.

Tried `hie-bios dump`, though somehow it doesn't have such a command (using `hie-bios version 0.5.1 compiled by GHC 8.8.3`)

[2020-10-29 19:55] wz1000 commented on #890
Sorry, I meant `hie-bios flags`.

However, `hie-bios check` not working means this is likely an upstream issue with the flags `stack` is telling us to use.

[2020-10-29 19:58] jneira commented on #890
I think it could be `hie-bios debug`.
As @wz1000 commented `stack repl` does not work with `mixin` and `hie-bios` needs to call `stack repl` underneath to give build info to ghcide. stack issue is https://github.com/commercialhaskell/stack/issues/5077
So i am afraid that there is no much to do but use cabal ot not use mixins

[2020-10-29 20:08] Martoon-00 commented on #890
`hie-bios flags` / `debug` mention `-package-id=base-4.13.0.0` among options without mentioning mixins, and if those flags are all the information provided by `hie-bios` for compilation, then apparently this is there the attempt to hide `Prelude` fails.

If there are other issues with `hie-bios` like the one you mentioned, that it needs `stack repl`, then things are even sadder.

I suppose I will

[2020-10-29 20:08] #890 closed

[2020-10-31 23:11] Dessix commented on #279
Is there a way to get it to work with just the `-fplugin` option yet?

[2020-11-01 11:18] ndmitchell commented on #279
@Dessix - yes - it should have been solved by #795

[2020-11-07 19:55] georgefst commented on #872
#897 uses `OPTIONS_GHC` in all caps as well. Just another one to bear in mind.

[2020-11-07 23:13] DylanSp commented on #444
I'm also getting this error with a Stack project on Linux (no Nix), initialized with `stack new todomvc-backend servant`; the problematic line is `$(deriveJSON defaultOptions ''User)`. My comment [here](https://github.com/haskell/haskell-language-server/issues/376#issuecomment-723367823) has the logs from running `haskell-language-server` against my code.

[2020-11-09 07:53] jneira commented on #10
This should be fixed by #898

[2020-11-10 12:46] anka-213 opened #901 "How to ignore "Defined but not used:" warnings?"
I'm in a [repo](https://github.com/GrammaticalFramework/gf-core/) where `-Wall` is *not* enabled and hasn't been for decades. Despite this, the problems tab is filled with thousands of `Defined but not used: ‘foo’ typecheck` warnings, which makes the problems tab kind of useless.

How do I disable those warnings and where do they come from in the first place? `stack build` does not give any such w

[2020-11-10 12:53] wz1000 commented on #901
https://github.com/haskell/ghcide/pull/815 might be responsible.

[2020-11-12 13:04] dnikolovv commented on #842
Just chiming in to say this has been reproducing for me 100% of the time. I've never been able to get to build any test or executable using `ghcide`.

[2020-11-12 13:23] 0rca commented on #842
This also happens to me, but it goes away after I compile `<project>:lib` target with `stack build` and restart the language server.

[2020-11-16 08:21] jneira commented on #842
@googleson78 hi, thanks for the small reproducer.
That project has an error in the exe component:
[code]
Not sure if it is needed to trigger the issue but:
* fixing the executable error and make a `stack clean` the issue is still reproduced
* fixing the executable error and make a `stack clean` and a `stack build` (builds the lib and the fixed executable) makes the issue gone

[2020-11-16 09:42] jneira commented on #842
* Consider this shell lsession using hie-bios:

[code]

So this has definitely a hie-bios origin, and afaik it is a known one: hie-bios can load a stack (?) test component if the lib/exe components has errors.
I dont find a issue describing it though (//cc @fendor)

[2020-11-16 09:50] jneira commented on #291
I am gonna close it optimistically, @mb720 feel free to reopen if you continue experiencing the issue

[2020-11-16 09:50] #291 closed

[2020-11-16 09:58] jneira commented on #796
@pepeiborra we are mostly happily using implicit-hie-cradle, would be some of the follow-ups still needed?

Maybe

* Give the user a choice if there are both stack and cabal project descriptors
* Delete all the cradle files from ghcide and hls - no longer needed

[2020-11-16 09:59] jneira commented on #798
Original issue #796

[2020-11-16 12:02] googleson78 commented on #842
I was not intending there to be an error in the executable, but it still matches my original description, yes - instead of having the errors reported for the executable, I just get a blanket "can't load component".
Thanks for looking into it!

[2020-11-16 12:03] googleson78 commented on #842
Also, I'm sorry for asking slightly meta/unrelated questions, but what is the workaround for this (since you added a `can-workaround` tag)? I would love to use it for the time being, if it's not too annoying!

[2020-11-16 12:10] jneira commented on #842
@googleson78 mmm, if the issue is reproduced with no errors in the lib or exe component, i am afraid i still have to reproduce it.
I cant reproduce it taking your repo as base and correcting the exe main error.

The "workaround" was to no load a component (i.e. dont open a component file in the ide) while there are errors in other components on which it depends on but it seems that it does not wor

[2020-11-16 15:48] SamKacer opened #909 "installing ghcide with stack requires a lot of extra-deps"
Apologies if this isn't appropriate place to ask, but wasn't sure where else to go.

I've recently returned to programming in Haskell and before I remember I used ghcide, but now there is a much newer version of ghc, so ghcide doesn't work for the project I am working on now, so I am trying to install the new version.

I am using latest stack on windows 10. I am using following command to install

[2020-11-16 16:19] jneira commented on #909
hi, don't worry, questions are always welcomed.
First of all we would recommend to use haskell-language-server, it is the main LSP server for Haskell nowadays and it is automatically installed by the haskell vscode extension (if you are using it as editor). It has more features and a extensible plugin mechanism that adds formatters support, integration with hlint, etc.
If you still want install gh

[2020-11-16 20:56] domenkozar opened #910 "It takes forever to load my project"
I don't know what has changed recently, but given

[code]

I get:

[code]

Between each `[INFO] Consulting the cradle for` it takes about 15s and it does that for each of my files.

[2020-11-17 02:15] expipiplus1 opened #911 "ghcide hangs during typechecking in a very simple case"
Copied from https://github.com/haskell/haskell-language-server/issues/573 as this happens with just the `ghcide` command.

I am bumping into this on NixOS with HLS 0.6.0 8.8.4, or ghcide 0.5.0 8.8.4

`--verbose` doesn't say much interesting aside from `[DEBUG] Set files of interest to: [(NormalizedFilePath "/home/alice/Foo.hs". OnDisk)] after `Type checking the files`

Here is a reproducer in the

[2020-11-17 02:20] expipiplus1 commented on #911
If I set `virtualisation.cores = 2` then there is no hang, looks like this is a problem just for single core machines.

[2020-11-17 08:41] jneira commented on #909
@SamKacer Another alternative could be copy the `stack-windows.yaml` in your project as, f.e.,  `stack-ghcide.yaml` and make a `stack build ghcide --copy-compiler-tool --stack-yaml stack-ghcide.yaml`

Anf finally list all needed packages in the build command could work too: `stack install fuzzy-0.1.0.0 ghc-check-0.5.0.3 [rest of needed extra-deps here] ghcide --copy-compiler-tool`

[2020-11-17 10:17] domenkozar commented on #910
Note that VSCode says it loses connection to ghcide and stops trying after 5 attempts.

[2020-11-17 10:25] jneira commented on #910
I've observed that your are using two `hie.yaml`'s,

`(/home/ielectric/dev/cachix/cachix-server/hie.yaml, /home/ielectric/dev/cachix/cachix-server/cachix/hie.yaml)`

is it on purpose? if it is so, could you post both?, as it seems it is picking the second one

`Output from setting up the cradle Cradle {cradleRootDir = "/home/ielectric/dev/cachix/cachix-server/cachix", cradleOptsProg = CradleAction

[2020-11-17 10:31] domenkozar commented on #910
https://github.com/cachix/cachix/blob/master/hie.yaml

[2020-11-17 11:04] jneira commented on #910
mmm
[code]
Not sure if it would be related but i would expect `path`'s to point each one to its component source dir, something like
[code]

[2020-11-17 11:43] 20dchen01 commented on #842
I just want to add in that this worked for me too.

[2020-11-17 11:46] SamKacer commented on #909
@jneira  thanks for recommending the Haskell extension for VS code. It happens to be the editor I am using, and after installing the extension, everything is working great!

It seems to provide all the features I remember having from the ghcide extension, so no need to install that. but I appreciate your advice on that :)

[2020-11-17 11:46] #909 closed

[2020-11-17 11:50] jneira commented on #842
@googleson78 so to be sure, and sorry for asking for already provided info,  what is your project state when the errors is triggered?, i am assuming that:

* there is no errors in dependant components (for stack they will be lib and exe, even if test component only depends on the lib)
* there is an error in a dependent component (typically the test component)
* you still got (intermitently)
[code]

[2020-11-17 11:53] googleson78 commented on #842
Your "state description" is correct. However, my given reproducer from above also no longer works for the issue! If it pops up again, I'll try to make another reproducer and report back.

Maybe(hopefully) some changes in ghcide "accidentally" fixed this issue?

[2020-11-17 11:57] jneira commented on #842
Given we released hls-0.6.0, including a ghcide bump to ghcide-0.5.0, it may be the case.
I'll keep open it for a while, just in case you or other user hit the same issue.

[2020-11-17 12:28] domenkozar commented on #910
Needed to remove `src` suffix due to `Setup.hs` but otherwise that still has the problem that it failed the LSP client:

[code]

[2020-11-17 14:14] gdevanla commented on #792
So, here is the cause of the issue.

When we have one suggestion for  'Add imports', the complier error looks like this:

[code]
The `diagnostics` string ```Perhaps you want to add ‘fromList’ to the import list
      in the import of ‘Data.Map’ (app/testlsp.hs:4:1-18).```  is captured by the the RegEx here: https://github.com/haskell/ghcide/blob/a345e11aa3f811240a8961fe08806c3b7862d12e/src/Develop

[2020-11-17 14:36] gdevanla commented on #324
Is this ticket still to be addresed in ghcide. I assume this kind of feature list will be made available in the HLS readme.

[2020-11-17 16:37] jneira commented on #324
well, ghcide still has direct users.
Maybe we could complete the list here and link hls readme to it.

[2020-11-17 21:14] pepeiborra commented on #911
I recently discovered this independently. It happens also with +RTS -N1.

It is caused by the Shake thread pool being bound by the number of capabilities. Ghcide runs a "daemon"-like thread to process Shake actions from a TQueue, and a main thread to do the typchecking. If the thread pool is of size 1, the daemon thread will be unable to progress and the typechecking thread will be unable to run.

[2020-11-17 21:23] pepeiborra commented on #796
Happy to close this task and open new ones for follow-ups when/if reported

[2020-11-17 21:23] #796 closed

[2020-11-17 21:32] jneira commented on #910
Ok, so we have two issues, maybe related, no?
* ghcide takes more time to load the project (129*15 secs aprox) than a previous version
* the server crashes

At least the hie.yaml with correct paths made the load faster?

[2020-11-17 21:36] ndmitchell commented on #911
`shakeThreads` controls the number of threads in the Shake thread pool, and also threads should never mutually depend on each other in a dead-locking way since "normal" Shake programs shouldn't be communicating via TQueue. I suggest that you increase shakeThreads by 1 more than the number of threads you really want, which will ensure its at least 2.

[2020-11-17 21:39] pepeiborra commented on #911
Cool, so we need to set `shakeThreads` to `if numCapabilities == 1 then 2 else 0`.
Joe, will you test and send a PR?

[2020-11-17 21:43] ndmitchell commented on #911
I'd go for numCapabilities + 1 - if you're taking control of shakeThreads and want it at a precise value better to make sure there's no chance Shake infers a different number of threads to you. At one point Shake tried to infer the number of processors you had if it looked like you weren't on the threaded runtime, which would mess up any implicitness.

[2020-11-18 04:45] expipiplus1 commented on #911
Why the `+ 1` @ndmitchell (instead of `max 2 numCapabilities`)

so

[code]

[2020-11-18 11:28] ndmitchell commented on #911
If Ghcide runs a mostly-blocked thread then + 1 is appropriate. If it's a mostly-busy thread then `max 2 ...` is the right thing to do. The code has changed so much since I was last deeply involved in it I've no idea which it is!

[2020-11-18 11:49] pepeiborra commented on #859
Relevant:  it should be possible to serialize core to iface files, taking hints from ezyang/ghc@13615ca. The idea here is that we can preserve the Core produced by the frontend in the interface file such that we can later easily produce restart the compilation pipeline to produce bytecode (which should be quick).

[2020-11-18 18:25] trodrigu commented on #885
@ingun37 I'm still learning very much so but I was able to get ghcide in my nix-shell session via `nix-env -i -f '<nixpkgs>' -E 'pkgs: (pkgs {}).ghc.withPackages (hp: with hp; [ ghcide ])'`.  I'm still trying to figure out how to add it to my shell.nix

[2020-11-19 04:33] ingun37 commented on #885
@trodrigu I ended up using [haskell-language-server](https://github.com/haskell/haskell-language-server). I think it superseded *ghcide*.

[2020-11-19 14:02] anka-213 commented on #901
Does #907 resolve this issue? I love the unused variables being grayed out, but having them all appear in the "problems" tab is too much.

As an answer to my question in the title: A workaround in VS Code is to press the "filter" button and ignore everything of level "info".

[2020-11-19 17:00] Martoon-00 commented on #842
Once I tried the steps from the [post above](https://github.com/haskell/ghcide/issues/842#issuecomment-727817355) on the project suggested by @googleson78, the issue is also gone for me, I get exactly the same results. This seems to also help for other projects, so for me this is a working workaround. Really not sure how didn't I find this solution before :sweat_smile:

I can reproduce the issue i

[2020-11-19 20:54] domenkozar commented on #910
Yeah, I'm not sure they are related.

It's weird that in logs it doesn't seem like server crashes, but client does lose the connection.

[2020-11-20 13:54] gdevanla opened #917 "Call to getCodeActions needs to wait - for tests"
There were some non-deterministic failures/success in tests that was initially observed here https://github.com/haskell/ghcide/pull/913#issuecomment-731142398.

Therefore, I created a simpler example to demonstrate the issue.  The issue is when there is a `parse error` reported in Diagnostics, then `sometimes` the first call to `getCodeActions`  returns a empty list. But, calling it the second tim

[2020-11-20 15:22] gdevanla commented on #576
@pepeiborra I would like to take a look at this one. Should I be starting in Completions.hs to find out where the list is getting restricted?

[2020-11-20 21:03] pepeiborra commented on #910
TH involved by any chance?

[2020-11-20 21:05] domenkozar commented on #910
Yes, via hasql-th and here packages.

[2020-11-21 09:16] fendor commented on #885
Not quite, ghcide is the workforce behind haskell-language-server and haskell-language-server implements a lot of plugins on top of ghcide, but ghcide itself is still very much developed and in use and not superseded.

[2020-11-21 11:01] pepeiborra commented on #917
`getCodeActions` is provided by http://github.com/bubba/lsp-test so maybe you want to open an issue there?

That said, the ghcide test suite has a lot of code action tests and this has never been a problem before, so I am curious as to what has changed.

You should ask lsp-test to print out the LSP transport messages and take a look to find out what's going on.

[2020-11-21 11:59] pepeiborra commented on #910
I tried to install locally to repro but the hfsevents dependency won't build on my Mac.
If TH is involved and you are on a Mac, the instructions in https://github.com/haskell/haskell-language-server/issues/469 may prove useful

[2020-11-21 14:28] domenkozar commented on #910
You can remove hfsevents dependency and remove the small part of the code that uses it.

I'm on Linux and I haven't seen any signs of crashes.

[2020-11-21 15:14] gdevanla commented on #917
https://github.com/bubba/lsp-test/issues/80

[2020-11-21 15:14] #917 closed

[2020-11-21 18:26] pepeiborra commented on #576
Completions are driven by the `LocalCompletions and `NonLocalCompletions` rules. To achieve the goal in this ticket, the `NonLocalCompletions` rule needs to be relaxed to generate completions for the unrestricted imports. This should be quite easy, the code is in:

https://github.com/haskell/ghcide/blob/master/src/Development/IDE/Plugin/Completions.hs#L55-L81

Basically, use `map unrestrictImport

[2020-11-21 21:03] gdevanla commented on #576
Great. Thanks for the pointer. Will review this item this week.

[2020-11-21 21:17] #792 closed

[2020-11-22 11:18] normenmueller commented on #70
@jneira Could you please give some more advice on how to install/ configure?

[2020-11-22 15:43] gdevanla commented on #576
I did some preliminary research on this. Before, I take a wrong path approaching this, I wanted to confirm my understanding. Any feedback on this is appreciated.

Currently, the import list is being restricted because we map over  `[GlobalRdrElt]` at  https://github.com/haskell/ghcide/blob/863392b9b94777a069a2a31e9b909d1ce45e93d4/src/Development/IDE/Plugin/Completions/Logic.hs#L257.

My understand

[2020-11-22 17:08] pepeiborra commented on #576
This is not what I had in mind, almost no changes are needed if my suggestion below works.

We are in control of the import list used to generate the `[GlobalRdrElt]`, since we explicitly call `tcRnImportDecls`. So just modify the import list before calling:

https://github.com/haskell/ghcide/blob/master/src/Development/IDE/Plugin/Completions.hs#L74

[2020-11-22 19:30] gdevanla commented on #576
Thanks. That makes sense.

[2020-11-22 21:24] jneira commented on #70
@normenmueller you have to install [haskell-language-server](https://github.com/haskell/haskell-language-server) which includes by default the eval plugin (you can see it in accion [here ](https://github.com/haskell/haskell-language-server#features)).

Then you can write `-- >>>` in the code to evaluate expressions in the module context:

[code]

* pressing a link `Evaluate`

[code]

You can write

[2020-11-22 21:47] domenkozar commented on #910
@pepeiborra would it help if I prepared a branch without hfsevents?

[2020-11-22 22:37] pepeiborra commented on #910
Yes, as I have some spare time tomorrow to look at this. A branch would save me some time

[2020-11-23 07:02] gdevanla commented on #683
I believe this is fixed with https://github.com/haskell/ghcide/pull/913

[2020-11-23 07:10] gdevanla commented on #454
I can take a look at this issue. Any good place to start?

[2020-11-23 10:05] #683 closed

[2020-11-23 11:13] jneira commented on #745
Closed as duplicate of #61 as it has more content (but i will link the awesome @wz1000 comment on how to use its incoming branch)

[2020-11-23 11:13] #745 closed

[2020-11-23 11:14] jneira commented on #61
@wz1000 commented in a duplicate issue in how to use its hiedb branch, that includes this feature: https://github.com/haskell/ghcide/issues/745#issuecomment-683334743

[2020-11-23 12:53] domenkozar commented on #910
I've figured out that `cachix` repo works well and if I remove it from my private project so that it loads only one `hie.yaml` the problem lies in cachix-server that uses TH extensively.

Any otherway to debug TH?

Also I've noticed in the logs:

[code]

[2020-11-23 13:18] ingun37 commented on #885
@fendor My bad. Thank you for correcting my misunderstanding. BTW I'm closing the issue because it's no longer bothering me.

[2020-11-23 13:18] #885 closed

[2020-11-23 13:21] domenkozar commented on #910
I've downgraded to ghcide 0.3.0 and I'm still seeing the same issue which  previously worked flawlessly.

[code]

Going to play around if it's VSCode fault or something.

[2020-11-23 13:23] pepeiborra commented on #910
TH support is far from a solved problem, so I don't have a recipe for debugging issues. What we can use is ghcide logs and stack traces if there is a ghcide process crash.

[2020-11-23 14:12] domenkozar commented on #910
`coredumpctl` revealed it has quite a few core dumps, so it must be segfaulting. Unfortunately none of the core dumps are useful, they are either missing or stripped.

[2020-11-23 14:29] pepeiborra commented on #910
Build with `--enable-debug-info` for better coredumps: https://www.haskell.org/ghc/blog/20200403-dwarf-1.html

[2020-11-23 14:30] domenkozar commented on #910
I've switched to haskell-language-server that doesn't seem to have segfaults.

Unfortunately I'd like to move on since I've already lost too much time on this :)

Thanks for the help @pepeiborra

[2020-11-23 14:35] pepeiborra commented on #910
hls 0.6.0 uses ghcide v0.5.0, so if you are using the prebuilt binaries, maybe the problem was in your local ghcide binaries

[2020-11-23 17:27] gdevanla commented on #631
Can someone elaborate a little more on what the behavior is supposed to be?

[2020-11-23 18:31] domenkozar commented on #910
Yeah, it's probably related to how it was compiled. HLS works great and I wanted to move to it anyway so case closed.

[2020-11-23 19:18] domenkozar commented on #910
Spoke too soon - HLS didn't crash because TH failed to work due to missing linker (since dynamic linking in Nix is tricky without being Nix aware).

Now that I'm using Nix built HLS, the problem is back. I can get a traceback:

[code]

Looks like I'll need to compile haskell libs with debugging symbols tomorrow.

[2020-11-23 19:50] jneira commented on #631
maybe @ndmitchell could help with

[2020-11-23 19:53] jneira commented on #631
@gdevanla feel free to go into #haskell-ide-engine room in freenode irc (you can use https://kiwiirc.com/nextclient/ for example) and ask for hls, ghcide, haskell-lsp, etc topics. Not always is active but hopefully someone will answer sooner or later.

[2020-11-23 19:57] ndmitchell commented on #631
It works for completions for me.

![image](https://user-images.githubusercontent.com/1651197/100008866-e775db00-2dc5-11eb-9c0f-d7ae7f48bb03.png)

Windows, VS Code, I guess the latest HLS? (I don't even know how to tell...)

[2020-11-24 06:28] jneira commented on #454
@gdenvala I think the code that trigger extension completion will be:

https://github.com/haskell/ghcide/blob/863392b9b94777a069a2a31e9b909d1ce45e93d4/src/Development/IDE/Plugin/CodeAction.hs#L526

Not known much about it though, it comes from the time where this was part of daml, according to blame.

[2020-11-24 07:51] jneira commented on #635
@laura-dietz it is too much aks you to check the last ghcide version (0.5.0)?

[2020-11-24 07:56] jneira commented on #901
@anka-213 i think #907 should resolve this, have you got ant chance to try it?

[2020-11-24 08:02] jneira commented on #520
will close this one optimistically in a few days

[2020-11-24 08:05] jneira commented on #604
@adamConnerSax i think some improvements for emacs and file handling was added (#831), could you try last ghcide version to checkit that is reproduced (or even better switch to haskell-langiage-server)

[2020-11-24 09:10] ndmitchell opened #921 "pathToId is partial"
When editing Shake I was changing an import from `import Data.Either` to `import Data.Either.Extra`. It froze at `import Data.Either.Extr` with the message:

[code]

That seems to correspond to `pathToId`. Looking at the use cases of `pathToId`, I see:

* `reportImportCyclesRule`, but that seems OK since we've just asked for the dependency information for the file we're passing, so I assume the in

[2020-11-24 13:04] pepeiborra commented on #921
I have seen this recently too

[2020-11-24 14:19] domenkozar commented on #910
I've installed HLS with `stack build --nix --no-strip --stack-yaml=stack-8.8.4.yaml` and that now works as it knows which linker to use.

There's something specific to how Nix builds it that makes it segfault.

[2020-11-25 09:15] jneira commented on #787
It seems this one is related to #686, cause a generic filter by type would include the right `fromList`.

[2020-11-25 09:19] #787 closed

[2020-11-25 09:23] jneira commented on #685
It think so too, @ilyakooo0 feel free to reopen if lastest ghcide/hls does not work for you

[2020-11-25 09:23] #685 closed

[2020-11-25 17:59] gdevanla commented on #576
Regarding automatically expanding the import list would work here.

Will the command be part of the `_command` in `Completion`? (http://hackage.haskell.org/package/haskell-lsp-types-0.15.0.0/docs/Language-Haskell-LSP-Types.html#t:CompletionItem)

It could also happen that the same `function` comes from different imported modules. In that case, automatically extending would not work.  Can the `_com

[2020-11-25 18:50] pepeiborra commented on #576
I think this is what `_additionalTextEdits :: Maybe (List TextEdit)` is for

[2020-11-25 20:13] gdevanla commented on #576
Great. I will take a look at that. Thanks for the pointer.

[2020-11-27 23:03] lalaithion opened #923 "Perform autocomplete for unimported values"
This library provides two features which often conflict.

1. This library wants you to replace all imports with explicit import lists. I see the value of doing this. However,
2. This library also provides autocomplete, but cannot autocomplete a value defined in another file when the file is imported, but the value is not in the import list.

I would greatly desire a feature which would allow auto

[2020-11-27 23:15] jneira commented on #923
@lalaithion hi! thanks for the suggestion. I think the proposal is similar to #576.

[2020-11-27 23:25] pepeiborra commented on #576
Reopening for the automatic extension of import lists when needed.

[2020-11-27 23:41] gdevanla commented on #576
Thanks for merging the previous changes.  I will leave some notes here on how I am approaching the pending task.

I think the _additionalTextEdits is the way to go.  For this I am thinking we need to do that following

1. (Add back) Continue carrying the original import we filtered, as part of our earlier change(#919). We will need this to decide how to update the text.
2. Update the CompItem reco

[2020-11-28 01:23] samuela opened #925 "Error opening ghcide project in VSCode with the ghcide/haskell extension installed"
I just installed the official VSCode ghcide/haskell extension, cloned the ghcide repo, and then tried opening `src/Development/IDE.hs`. The issue repeats after reloading the window.

![Screen Shot 2020-11-27 at 5 16 05 PM](https://user-images.githubusercontent.com/226872/100490942-b6065380-30d4-11eb-9eda-71fc8fbf59af.png)

I looked for more logs, but I couldn't find anything "Extensions" or "Log (

[2020-11-28 01:41] samuela commented on #925
Ok, fixed after running `cabal update`. So I guess this is an issue that ghcide fails un-gracefully when cabal's index is out-of-date.

[2020-11-28 02:49] samuela commented on #921
I took a naive stab at this in #926. Got hung up in two places, so any feedback as to how to proceed would be greatly appreciated!

[2020-11-28 05:21] emilypi opened #927 "Doc preview cannot render inline math formulae"
Hi all. This is not a high priority ticket, but I do think it should be tracked. Mathematical formulae are not render by the doc previewer. See the following:

![image](https://user-images.githubusercontent.com/10459342/100494361-013d5800-310f-11eb-9de1-9ccdb4fdd9cf.png)

These docs render fine in the haddocks:

![image](https://user-images.githubusercontent.com/10459342/100494430-93ddf700-310f-11

[2020-11-28 10:50] pepeiborra commented on #576
We have some code to extend import lists that would be appropriate to reuse:

https://github.com/haskell/ghcide/blob/master/src/Development/IDE/Plugin/CodeAction.hs#L935-L977

You won't be able to directly reuse the existing `CodeAction` since that is driven by a GHC diagnostic so you would need to typecheck the module for every `CompItem`, which would take too long.

[2020-11-28 13:21] jneira commented on #927
hi, I think we have reported this in his, it includes some discussion about the possible resolution: https://github.com/haskell/haskell-language-server/issues/201

[2020-11-28 16:27] emilypi commented on #927
Great!

[2020-11-29 16:35] #921 closed

[2020-11-29 17:13] domenkozar commented on #842
I've also hit this with `hls-0.6.0`.

A simpler workaround is to do `stack build mypackage:lib` and reload your editor.

[2020-11-29 17:49] josefs commented on #859
Note that `ResolvedBCO` contains pointers into memory, so to serialize it we would have to unresolve it. I don't know what the `Binary` instance is for but it sounds very easy to misuse.

[2020-11-30 00:01] lalaithion commented on #923
Thanks!

[2020-11-30 00:01] #923 closed

[2020-11-30 16:00] gdevanla commented on #576
@pepeiborra  I left some questions in the TODO list of the new PR. Can you or others provide suggestions on how to address those issues.  Thanks!

Also, in general, is it desired to discuss these on the PR or over here on the issues ticket?

[2020-12-01 13:57] gdevanla commented on #631
I am not able to see any completions on extensions using latest HLS and Emacs.

[2020-12-01 21:36] Tritlo opened #932 "Bug with valid hole fit substitutions: they do not respect scope!"
Here's the part of my stream where this happened live:
https://youtu.be/lfrk0wyZHvg?t=2311

(don't forget to like and subscribe /s)

What happens is that it suggests `lookup`, whereas the `IntMap` module was imported as a qualified, meaning that it has to be `IM.lookup`. It works correctly in the raw GHC output, but not in GHCIDE itself.

[2020-12-02 06:46] jneira commented on #932
Hi, thanks for report this with a live demo included!
I think that bug was reported in #726 so i am gonna close this one, mentioned video in the original one.
Feel free to reopen if that is not the case.

[2020-12-02 06:46] #932 closed

[2020-12-02 06:47] jneira commented on #726
@tritlo reported [this](https://github.com/haskell/ghcide/issues/932), including a live demo: https://youtu.be/lfrk0wyZHvg?t=2311

[2020-12-02 11:32] Tritlo commented on #726
Yeah, except I didn't even get the suggestion to update it!

[2020-12-03 11:44] paolino commented on #641
Any workaround for this issue ?

[2020-12-05 17:19] anka-213 commented on #726
Right, because for you there was already another value in scope with that name, so it becomes a type error instead of an “undefined variable” error. Type errors doesn’t (currently) suggest similarly named functions with the correct type.

[2020-12-05 22:46] pepeiborra commented on #726
Qualifiers in GHC error messages are getting munged before code actions have a chance to see them.
I traced this back to #546. Reverting that commit will fix this issue, #652 and probably others. However it will also make error messages materially worse.

[2020-12-06 00:26] gdevanla commented on #631
I feel like we could move `{-# language` and `{-#options_ghc` and any `{-#` completions out of cachedCompletions functions defined here.  https://github.com/haskell/ghcide/blob/e24a744a06ee8807fd0a2c6b2db3f4eed0738372/src/Development/IDE/Plugin/Completions/Logic.hs#L564-L569

By moving it our into its own rule( outside NonLocalCompletions) we can show this completions, without encountering the par

[2020-12-06 10:32] pepeiborra commented on #631
Yes, this goes in the right direction. My preference would be to decompose the completions code into multiple providers, which is exactly what the plugin model in haskell-language-server does.

Given that there is already a [plugin to suggest pragmas](https://github.com/haskell/haskell-language-server/blob/master/plugins/default/src/Ide/Plugin/Pragmas.hs) in HLS, which at the moment it only provid

[2020-12-06 10:34] pepeiborra opened #935 "Deprecate the ghcide executable"
We have already told people to not use ghcide directly:

https://neilmitchell.blogspot.com/2020/09/dont-use-ghcide-anymore-directly.html

The next logical step is to deprecate and eventually remove the ghcide executable.

/cc @cocreature @ndmitchell any concerns?

[2020-12-06 10:38] wz1000 commented on #935
I think it makes sense to keep it around for purposes of ghcide development itself.

[2020-12-06 10:46] cocreature commented on #935
I’m fine with deprecating it as a user-facing feature but for tests and development it seems pretty useful and afaict it’s cheap to keep around.

[2020-12-06 10:51] pepeiborra opened #936 "Consider extracting completions and code actions into HLS plugins"
The completions code in ghcide is structured as a single provider that serves multiple contexts (pragmas, imports, types, values, etc.). The static set of dependencies is particularly suboptimal: no completions for pragmas unless the file type checks (#631)! It would be advisable to break this down into a family of providers that can all contribute completions depending on the context.

Haskell-la

[2020-12-06 11:25] ndmitchell commented on #935
It might make sense to deprecate the extension at https://marketplace.visualstudio.com/items?itemName=DigitalAssetHoldingsLLC.ghcide, and I've no concern about removing features like completions (unless @cocreature does), but I don't think that deprecating it beyond that would mean much.

[2020-12-06 11:33] pepeiborra commented on #726
I'm working on a fix for this

[2020-12-06 11:50] pepeiborra opened #937 "ghc panic on lookupVers1"
This is a new one for me:

[code]

[2020-12-06 14:18] #652 closed

[2020-12-06 15:23] gdevanla commented on #631
Thanks @pepeiborra  . The plugin seems to be the perfect place to add this change. I will move the functionality there.

But, can you clarify how this is related to #380. I may be missing some context here.

[2020-12-06 15:30] pepeiborra commented on #631
Oops, I meant github.com/haskell/haskell-language-server/issues/380

[2020-12-08 21:33] #935 closed

[2020-12-09 00:57] samuela commented on #925
I also received this same error today in hover form:

![Screen Shot 2020-12-08 at 4 56 27 PM](https://user-images.githubusercontent.com/226872/101559612-52064980-3976-11eb-8c43-a292b19323d8.png)

Also fixed with `cabal update`.

[2020-12-09 06:28] jneira commented on #925
Not sure if ghcide or hls, via hie-bios will handle that cabal misconfiguration, as a auto cabal update might break things (cabal itself does not run it auto for that reason). Otoh `stack`, with other defaults, does it.
But maybe it could display a more helpful error.

[2020-12-09 07:59] samuela commented on #925
Yeah it would be great to get a clearer error message here, ideally with a snazzy little "Run cabal update" button too.

[2020-12-09 09:36] poscat0x04 commented on #631
I'm pretty sure this issue no longer exists in version 0.6.0.0.

[2020-12-09 15:30] gdevanla commented on #631
I have not been able to get this working with latest (master) hls/ghcide on Emacs. I need to dig deeper to see if this is an Emacs issue. Whenever, I my cursor is inside the bounds of this text {-# #-}, I do not see any requests for 'textdocument/CodeCompletion' going out to the server at least in Emacs. If others, feel this is only an Emacs issue than we can close this ticket.

For now, I am tryi

[2020-12-09 21:49] gdevanla commented on #936
@pepeiborra I feel this is a good project I can focus my efforts on. If no one else has taken a stab at it, I can start work on this. I like the idea very much. I did feel the `Completions` code was doing to many things all at once.

Would this necessarily mean, the `Completions` and `CodeActions` section will be completely moved out of `ghcide`, except for say the implementation of the `Rule` typ

[2020-12-11 02:27] gdevanla commented on #631
I fixed this issue with Emacs [here](https://github.com/emacs-lsp/lsp-haskell/commit/592e883026288677f4042333b51efc7a40b9a68a).  I think this issue can be closed.

[2020-12-11 04:30] poscat0x04 commented on #631
closing

[2020-12-11 04:30] #631 closed

[2020-12-11 05:53] gdevanla commented on #576
Can we close this or should we keep this open till we get user feedback on how the imports are automatically added?

[2020-12-11 07:37] jneira commented on #576
We have not a established rule so i usually link or quote the relevant comments in both

I think we can close this one and open new ones with the concrete issues or suggestions from users

[2020-12-11 07:37] #576 closed

[2020-12-11 13:15] pepeiborra commented on #936
By all means, do work on this if you are interested!

My mental model is:

- I would start with the completions. If it goes well continue with the code actions. There's no need to micromanage if you are the only person working on it

- Extract all the code to one or more packages which depend on `his-plugin-api` and include one or more plugins each. This package would live in the haskell-language-

[2020-12-11 15:08] gdevanla commented on #936
Awesome. Thanks for elaborating on that. I had a similar mental model in mind.

[2020-12-11 20:40] tomsmeding opened #949 "Sending LSP messages very quickly causes all diagnostics to disappear"
This is an issue I encounter when using ghcide using [ALE](https://github.com/dense-analysis/ale) in neovim. (However, the issue can be reproduced without any of that; see below.)

**Symptom**
While working on code (in neovim using ALE), an edit action, as well as a `:w` save action, has a reasonable probability of removing all diagnostics from the current file. This is especially frequent on save

[2020-12-15 08:22] jneira opened #955 "Send message to client to notify that a concrete module is fully loaded"
* This feature would be purely internal, to help writing functional tests over features that need the module is fully loaded in a ghc session even if it has no diagnostics
* It could help to remove the use of

https://github.com/haskell/ghcide/blob/9e976f142643e380cb569374442d0ca306b3e7f1/test/src/Development/IDE/Test.hs#L63-L85

* And the introduction of unnecessary diagnostics to use it as a pro

[2020-12-15 22:08] pepeiborra commented on #949
Thanks for the bug report. I have bisected this back to https://github.com/haskell/ghcide/commit/8de10e9474898b43c66581f40fe0eea6741a286b and hopefully will find some time to look into it soon

[2020-12-16 16:49] georgefst opened #957 "Desugarer warnings"
Has #107 crept back in?

Just updated to HLS 0.7 via the VScode plugin and I'm back to not seeing any "incomplete pattern match" warning on e.g.:

[code]

:cry:

[2020-12-16 16:51] georgefst commented on #957
Unless I enable `TemplateHaskell`. But that wasn't necessary in 0.6.

[2020-12-16 17:53] sgraf812 commented on #509
I'm observing this a lot in GHC's code base. Any reference to `GHC.Types.Id.idSpecialisation`, for example. `GHC.Types.Id` has an hs-boot file.

[2020-12-16 17:56] wz1000 commented on #509
#898 will fix this

[2020-12-16 18:04] wz1000 commented on #957
This is probably due to https://github.com/haskell/ghcide/pull/904 , due to which HLS has to be modified add `action kick` to its rules, as done here: https://github.com/haskell/ghcide/blob/6365d3cc61e98515333f5fc77b1dabf64475b1fa/exe/Main.hs#L121

/cc @jneira unfortunately this probably warrants another release :(

[2020-12-19 12:11] pepeiborra commented on #955
I'm adding a test command to wait for an arbitrary IDE action, which can then be used to fix the warts outlined in this issue

[2020-12-21 06:06] #949 closed

[2020-12-21 06:06] #955 closed

[2020-12-22 22:12] augustss opened #961 "Cannot build ghcide on Windows"
The heapsize package refers to an undefined symbol.  Here's the build log:

Build log ( C:\Users\lennart.augustsson\AppData\Roaming\cabal\logs\ghc-8.10.3\ghcide-0.6.0.1-5nHKroEr0uE5lwJdL7Kohe.log ):
Preprocessing executable 'ghcide-test-preprocessor' for ghcide-0.6.0.1..
Building executable 'ghcide-test-preprocessor' for ghcide-0.6.0.1..
[1 of 1] Compiling Main             ( test\preprocessor\Main

[2020-12-22 22:17] jneira commented on #961
Hi, thanks for the bug report, are you using a commit that includes #954? that pr was supposed to fix that build error

[2020-12-22 22:18] wz1000 commented on #961
Perhaps we should make `heapsize` and optional dependency.

[2020-12-22 22:24] jneira commented on #961
ops sorry, that pr only fixed the build for stack adding
[code]
but the cabal v2-install for windows and ghc-8.10.2 is not failing in ci, are you using cabal v1-install?

[2020-12-22 22:25] jneira commented on #961
Agree, hls is using the functionality added by heapsize, for example?

[2020-12-22 23:29] pepeiborra commented on #961
I'm not interested in making `heapsize` an optional dependency just to work around an old bug in Cabal v1, but PRs are welcome.

Lennart, the symbol is defined in the `ghc_heap` package. You just need to convince cabal v1 to not create the ghci libs, because those are not linked properly for some reason. Or just use either cabal v2 or stack

[2020-12-23 07:53] augustss commented on #961
Yes, I'm using cabal v1, since I prefer that.
I'll see if I can turn off ghci libs, otherwise I'll just use my current
workaround which disables heapsize.

Thanks!

On Tue, Dec 22, 2020, 15:29 Pepe Iborra <notifications@github.com> wrote:

[2020-12-23 08:03] jneira commented on #961
agree in that it shouldn't be removed only for that, but if ghcide main usage is preserved without it, it introduces unnecessary dependencies downstream

[2020-12-23 12:59] alanz opened #962 "Int maxBound causes non-integer JSON value for outline"
See https://github.com/emacs-lsp/lsp-mode/issues/2435

It comes about from the [following](https://github.com/haskell/ghcide/blob/0d4e3b9499446b9caebe0457810588339244900c/src/Development/IDE/LSP/Outline.hs#L54)

[code]

where the HsModule span does not have a reasonable value, due to the way GHC parses a module.

I think we should either limit it to something that can be represented in JSON withou

[2020-12-25 13:50] C-alcium commented on #842
I get this as well. I thought originally that it was my nvim setup, but trying with VSCode produces the same error, same message/situation as above.

[2020-12-26 18:20] pepeiborra commented on #936
I have been giving this a bit more thought and realised that we probably want to keep the completions code in this repository, so that we can continue to leverage the benchmark suite as well as preserve the history of the repository, just wrap them as HLS plugins following the plan outlined by @jneira in https://github.com/haskell/haskell-language-server/issues/380#issuecomment-722895005:

I would

[2020-12-26 23:37] ndmitchell commented on #936
It now seems an inevitable terminal state as a result of the changes that are happening, and Ghcide will end up disappearing. I'm OK with that.

[2020-12-27 07:58] pepeiborra commented on #936
A better alternative is removing the dependency on `ghcide` from `his-plugin-api`. This is not only possible but also quite reasonable, since all the ghcide bits (the providers and the `asGhcIdePlugin` adapter) can be moved `ghcide` itself. Then `hls-plugin-api` becomes a pure types package which both `hls` and `ghcide` depend on.

[2020-12-27 10:49] jneira commented on #936
Sounds good, also it would be definitely better for hls-plugin-api downstream packages out there

[2020-12-27 13:25] gdevanla commented on #936
@pepeiborra Just so that I understand. With this change, I am assuming we retain the completion code inside ghcide and then make an effort to split up local/non-local/other completions inside this repo itself. Is that correct?

This also means that we don't need a separate completions plugin residing inside hls.

[2020-12-27 13:47] pepeiborra commented on #936
The plan is still to break the completion code apart from ghcide and into HLS providers. But the HLS providers will live inside `ghcide.cabal`

[2020-12-28 18:00] nitros12 opened #964 "Instance declarations in hs-boot files result in GHC errors"
Hi, I've come across this issue where any hs-boot file containing instance
declarations results in the following error on the module:

[code]

This causes any modules dependent on the hs-boot module to also fail.

For reference:
- `X.hs-boot`
[code]

- `X.hs`
[code]

[2020-12-29 02:40] adamConnerSax commented on #604
Swicthed to haskell-language-server and this behavior did indeed cease.  Still crashes a bunch from emacs but I can't pin it down to anything small and reproducible...

[2020-12-29 02:40] #604 closed

[2020-12-29 14:00] alanz opened #966 "issue to test moving of GH issues"
Created on repo haskell/ghcide

[2020-12-29 14:22] jneira commented on #10
@meditans as this repo is about to be archived we are gonna include this one in https://github.com/haskell/ghcide/pull/898

[2020-12-29 14:22] #10 closed

[2020-12-29 15:34] jneira commented on #144
I think we could merge this with https://github.com/haskell/haskell-language-server/issues/400

[2020-12-29 15:34] #144 closed

[2020-12-29 15:43] jneira commented on #162
closinf in favour of https://github.com/haskell/haskell-language-server/issues/111

[2020-12-29 15:43] #162 closed

[2020-12-29 15:44] jneira commented on #190
Closing optimistically, @jvliwanag feel free to open a new one in the haskell-language-server project if you continue hitting it

[2020-12-29 15:44] #190 closed

[2020-12-29 15:48] jneira commented on #218
closing in favour of https://github.com/haskell/haskell-language-server/issues/703

[2020-12-29 15:48] #218 closed

[2020-12-29 20:06] tjweir commented on #218
No reason for using homebrew now.  I am very sorry at my delay.

[2020-12-30 09:46] pepeiborra commented on #927
closing as dup

[2020-12-30 09:46] #927 closed

[2020-12-30 09:51] pepeiborra commented on #925
The way I see it, this is a Cabal issue. Ghcide is merely a conduit, using the build system that you chose to build your project. It is not Ghcide's place, in my mind, to be parsing the build system unstructured error messages to try and compensate for the lack of accessibility.

From that point of view, I am closing this ticket. If you disagree please feel free to reopen, or even better, to send

[2020-12-30 09:51] #925 closed

[2020-12-30 09:52] pepeiborra commented on #910
closing as this seems to be an issue with your Nix setup

[2020-12-30 09:52] #910 closed

[2020-12-30 09:53] pepeiborra commented on #901
Closing as allegedly solved. Feel free to open a new issue in haskell/haskell-language-server if that's not the case.

[2020-12-30 09:53] #901 closed

[2020-12-30 09:54] pepeiborra commented on #881
Closing as nothing to do here

[2020-12-30 09:54] #881 closed

[2020-12-30 09:55] pepeiborra commented on #869
closing as nothing to do

[2020-12-30 09:55] #869 closed

[2020-12-30 10:50] pepeiborra commented on #732
I believe the pragmas completion issue has been solved by haskell/haskell-language-server#746 and the import completions seem to work fine, so closing as nothing to do.

[2020-12-30 10:58] pepeiborra commented on #664
I believe this is fixed

[2020-12-30 10:58] #664 closed

[2020-12-30 10:58] pepeiborra commented on #660
This is fixed

[2020-12-30 10:58] #660 closed

[2020-12-30 11:09] pepeiborra commented on #674
Given that 1 is separately reported in #675, 2 is fixed, and there is an older ticket for 3 somewhere, I'm going to close this issue

[2020-12-30 11:09] #674 closed

[2020-12-31 00:55] samuela commented on #925
I'm not intimately familiar with the haskell ecosystem and I do hear what you're saying here, but I would argue that what matters at the end of the day is: Does it "just work" for users? The rust ecosystem is a great example of this. They have standardized on a build system (cargo), and everything "just works". Ie, the rust-language-server integration with cargo is very nice, and as a result it's

[2020-12-31 17:02] ndmitchell commented on #925
@samuela - I also use both Rust and Haskell, and agree Rust has a lot better integration. But it's not that easy:

* Cabal doesn't offer a programmatic interface yet :( - it even offers 4 entirely incompatible build commands (v1-build, v2-build, build, new-build).
* Haskell has Cabal, Stack (which is kind of using Cabal, rather than wrapping Cabal), Nix, Obelisk, Buck, Bazel. And then GHC itself c

[2020-12-31 20:56] pepeiborra commented on #669
closing as non actionable

[2020-12-31 20:56] #669 closed

[2020-12-31 21:01] pepeiborra commented on #648
Closing as there is not a clear action path. Please open a new ticket in haskell/haskell-language-server if there are still any issues

[2020-12-31 21:01] #648 closed

[2020-12-31 21:05] pepeiborra commented on #633
@fendor can this ticket be closed now?

[2020-12-31 22:17] samuela commented on #925
Thank you for the clarification @ndmitchell! That clears things up a lot for me. I didn't realize that this layer had been separated out into hie-bios.

It sounds like the technical challenges here are to expose programmatic interfaces for the build systems of interest (cabal, stack, nix, bazel, etc), and then get that information relayed through hie-bios. Then something useful can be made of it i

[2021-01-01 01:15] jneira commented on #925
well imho we (the right component would be hie-bios) could do some effort to alliviate the lack of usability of the build tools while they are improved (and there are no deadlines I am afraid)
We are already doing it for ghc and the build tools themselves, with a bunch of hacks. So one more for get useful errors for final users would worth the effort.

That said, our human power is limited and the

[2021-01-01 01:55] jneira commented on #669
@LukaHorvat please, open a new issue in the haskell-language-server project if you continue experiencing it with the last version

[2021-01-01 03:18] samuela commented on #925
@jneira Are there any delegate-able well-scoped tasks that contributors could help you out with?

[2021-01-01 09:43] pepeiborra commented on #570
Closing this issue as the particular `error` call that caused this crash no longer exists, and the general approach is implemented already in `hls-plugin-api`, so all we need to do is split and move our code actions to HLS providers, and there exist tickets for that already

[2021-01-01 09:43] #570 closed

[2021-01-01 19:58] pepeiborra commented on #528
closing this as ghcide is not the problem here

[2021-01-01 19:58] #528 closed

[2021-01-01 19:58] #520 closed

[2021-01-01 20:04] pepeiborra commented on #456
I believe I fixed this in #952.

[2021-01-01 20:04] #456 closed

[2021-01-01 20:13] pepeiborra commented on #324
I don't think it's worth doing anymore, since we are recommending people to use HLS instead of exe:ghcide

[2021-01-01 20:13] #324 closed

[2021-01-01 20:14] #404 closed

[2021-01-01 20:14] pepeiborra commented on #226
Closing due to lack of activity

[2021-01-01 20:14] #226 closed

[2021-01-01 20:16] pepeiborra commented on #242
1 is done, but 2 is still very much needed